{# I C O N S #}
{% macro display_icon(icon_name=none, icon_html=none, default_icon_name="checkmark-circle-outline", class=none) %}
    {%- if icon_html %}
        {{icon_html}}
    {%- elif icon_name %}
        {% set iname = icon_name.split(" ")[0] %}
        {% set class = class|default("", true) + " " +  icon_name.split(" ", 1)[1]|default("", true) %}
        {%- include "jembeui/s0/icons/{}.svg".format(iname) with context %}
    {%- elif default_icon_name %}
        {%- include "jembeui/s0/icons/{}.svg".format(default_icon_name) with context %}
    {%- endif %}
{% endmacro %}



{# L I N K S #}

{# Display link as HREF #}
{% macro display_link(title=none, description=none, url=none, jrl=none, icon_name=none, icon_html=none, styling=(), attrs=none) %}
    {% set has_icon = icon_name  or icon_html %}
    {% set attrs = attrs if attrs else {} %}
    <a  href="{{url if url else '#'}}"{% if jrl %} jmb-on:click.prevent="{{jrl}}"{% endif %} 
        {%- if 'class' not in attrs %}
        class="href"
        {%- endif %}
        {%- if attrs %}
            {%- for k,v in attrs.items() %}
                {{k}}="{{v}}"
            {%- endfor %}
        {%- endif %}
        {%- if description %}
        title="{{description}}"
        {%- endif %}>
        {%- if has_icon %}
            {%- set icon_is_last = "icon-last" in styling %}
            {%- set icon_class = "inline-block  align-bottom w-6 h-6  mx-1 hover:bg-grey-200"  %}
            {%- if has_icon and not icon_is_last %}
                {{display_icon(icon_name, icon_html, class=icon_class)}} 
            {%- endif -%}
                {{title|default('',true)}}
            {%- if has_icon and icon_is_last %}
                {{display_icon(icon_name, icon_html, class=icon_class)}} 
            {%- endif -%}
        {%- else %}
            {{title|default('',true)}}
        {%- endif -%}
    </a>
{% endmacro %}


{% macro display_link_as_href(link, styling=(), attrs=none) %}
    {%- if link.is_accessible %}
        {%- if "as-button" in link.styling %}
            {{display_link_as_button(link)}}
        {%- else %}
        {%- set styling = styling if styling else link.styling %}
        {{display_link(
            title=link.title,
            description=link.description,
            url=link.url,
            jrl=link.jrl,
            icon_name=link.icon,
            icon_html=link.icon_html,
            styling=styling,
            attrs=attrs
        )}}
        {%- endif %}
    {%- endif %}
{% endmacro %}

{# DISPLAY BUTTON #}
{% macro display_button(title=none, jrl=none, icon_name=none, icon_html=none, default_icon_name=none, styling=(), attrs=none) %}
    {% set has_icon = icon_name  or icon_html %}
    {% set is_ghost = (has_icon or default_icon_name) and ("ghost" in styling or "ghost-micro" in "styling") %}
    {% set is_short = (has_icon or default_icon_name) and not title %}
    {%- set attrs_class_plus = "" if attrs is none or "class+" not in attrs else attrs["class+"] %}
    {% set attrs = attrs if attrs else {} %}
    <button type="button" class="
        whitespace-nowrap
        {{attrs_class_plus}}
        {%- if is_ghost %}
            {%- if 'ghost-micro' in styling%}
                btn-ghost-micro
            {%- else %}
                btn-ghost
            {%- endif %}
        {%- elif 'short' in styling or is_short %}
            btn-short
        {%- elif 'micro' in styling %}
            btn-micro
        {%- else %}
            btn
        {%- endif %}
        {%- if not is_ghost and has_icon %}
        flex items-center gap-1
        {%- endif %}
        {%- if 'primary' in styling %}
            btn--primary
        {%- elif 'secondary' in styling %}
            btn--secondary
        {%- elif 'tertiary' in styling %}
            btn--tertiary
        {%- elif 'privacy' in styling %}
            btn--privacy
        {%- elif 'brand' in styling %}
            btn--brand
        {%- elif 'danger' in styling %}
            btn--danger
        {%- elif 'error' in styling %}
            btn--error
        {%- elif 'warn' in styling %}
            btn--warn
        {%- elif 'success' in styling %}
            btn--success
        {%- elif 'white' in styling %}
            btn--white
        {%- elif 'grey' in styling %}
            btn--grey
        {%- endif %} 
        {%- if 'on' in styling %}
            btn--on
        {%- endif %}
        {%- if 'class' in attrs %} {{attrs['class']}}{% endif %}
        "
        {%- if jrl %}
        jmb-on:click.prevent="{{jrl}}"
        {%- endif %}
        {%- if is_ghost and title %}
        title="{{title}}"
        {%- endif %}
        {%- if attrs %}
            {%- for k,v in attrs.items() %}
                {%- if v is boolean %} 
                    {%- if v==true %}
                        {{k}} 
                    {%- endif %}
                {%- elif k != "class" %}
                {{k}}="{{v}}"
                {%- endif %}
            {%- endfor %}
        {%- endif %}>
        {%- if is_ghost %}
            {{display_icon(icon_name, icon_html, class="p-1")}} 
        {%- elif has_icon %}
            {%- set icon_is_last = "icon-last" in styling %}
            {%- set icon_class = "w-8 h-8 p-1" if "micro" not in styling else "w-5 h-5" %}
            {%- if has_icon and not icon_is_last %}
                {{display_icon(icon_name, icon_html, class=icon_class)}} 
            {%- endif -%}
            {%- if title %}
            <div class="grow">
                {{title|default('',true)}}
            </div>
            {%- endif %}
            {%- if has_icon and icon_is_last %}
                {{display_icon(icon_name, icon_html, class=icon_class)}} 
            {%- endif -%}
        {%- else %}
            {{title|default('',true)}}
        {%- endif -%}
    </button>
{% endmacro %}

{# DISPLAY LINK AS BUTTON #}
{% macro display_link_as_button(link, styling=(), attrs=none) %}
    {%- if link.is_accessible %}
        {%- if "as-href" in link.styling %}
            {{display_link_as_href(link)}}
        {%- else %}
        {%- set styling = styling if styling else link.styling %}
        {{display_button(
            title=link.title,
            jrl=link.jrl,
            icon_name=link.icon,
            icon_html=link.icon_html,
            styling=styling,
            attrs=attrs
        )}}
        {%- endif %}
    {%- endif %}
{% endmacro %}


{# M E N U S #}

{# DISPLAY MENU DROP DOWN #}
{% macro display_menu_dropdown(menu, from_link=false, align_left=false, open_styling=()) %}
    {% if menu.is_accessible %}
        <div class="relative {% if from_link %}inline{% else%}h-8{% endif %}" 
            jmb-on:click.away="if ($scope().opened === '{{menu.id}}'){$scope().opened=null}">
            {% if from_link %}
            {{display_link(
                title=menu.title, 
                description=menu.description,
                icon_name=menu.icon_name if menu.icon_name or menu.icon_html else ("ellipsis-vertical-outline" if not menu.title else none), 
                icon_html=menu.icon_html, 
                styling=open_styling +  ("icon-last",),
                attrs={
                    'jmb-on:click.prevent': 
                        "if ($scope().opened === '{0}'){{$scope().opened = null}}else{{$scope().opened = '{0}'}}".format(menu.id)
                }
            )}}
            {% else %}
            {{display_button(
                title=menu.title, 
                icon_name=menu.icon_name if menu.icon_name or menu.icon_html else "chevron-down-outline", 
                icon_html=menu.icon_html, 
                styling=open_styling + ("icon-last",) + (("ghost",) if not menu.title else ()),
                attrs={
                    'jmb-on:click.prevent': 
                        "if ($scope().opened === '{0}'){{$scope().opened = null}}else{{$scope().opened = '{0}'}}".format(menu.id)
                }
            )}}
            {% endif %}
            <div jmb-cloak 
                jmb-show="$scope().opened === '{{menu.id}}'"
                jmb-on:click.prevent="if($event.target.tagName ==='A'){$scope().opened=null}"
                {% if align_left %}
                class="absolute left-0 z-50 -mt-1" 
                {%- else %}
                class="absolute right-0 z-50 -mt-1"
                {%- endif %}>
                {# arrow on top of dropdown #}
                <div 
                {% if align_left %}
                class="flex justify-start ml-1"
                {%- else %}
                class="flex justify-end mr-1"
                {%- endif %}>
                    <div class="w-6 overflow-hidden">
                        <div class="w-4 h-4 origin-bottom-left transform rotate-45 bg-white border border-grey-300"></div>
                    </div>
                </div>
                {# dropdown #}
                <div class="px-4 py-4 -mt-[1px] bg-white border rounded shadow shadow-grey-400 border-grey-300 whitespace-nowrap flex flex-col gap-2 min-w-[8rem]">
                    {{caller()}}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{# DISPLAY SYSTEM MENU #}
{% macro display_system_menu(menu) %}
    <div jmb-scope="{opened:null, active:null, timeout:null}"
            jmb-on:jembe-update-page.camel.window="$scope().active = null;$updateDom();"
            class="flex flex-col gap-3 pt-3 pb-3 pl-4 pr-2 sm:bg-transparent sm:border-none sm:flex-row sm:items-center sm:justify-end sm:h-full sm:gap-2 sm:py-0 sm:pr-2 sm:px-0">
        {% set ns = namespace(topMenuId = none) %}
        {% for mi in menu.items recursive %}
            {% if mi.is_accessible %}
                {% if mi.is_menu %}
                    {% if loop.depth == 1 %}
                        <div jmb-on:mouseleave="if ($scope().opened === '{{mi.id}}') {$scope().timeout=setTimeout(function(){$scope().opened=null}, 50)}" 
                             jmb-on:click.away="if ($scope().opened === '{{mi.id}}') {$scope().opened=null}"
                             jmb-on:mouseover="clearTimeout($scope().timeout); $scope().opened = '{{mi.id}}'"
                             class="relative sm:m-0">
                            <button type="button"
                                jmb-on:focus="$scope().opened='{{mi.id}}'"
                                jmb-bind:class="{'sm:!font-semibold': $scope().active === '{{mi.id}}'}"
                                class="
                                block mb-3 sm:mb-0 text-sm font-light tracking-wider uppercase focus-visible:outline-none text-brand-900/80
                                {%- if mi.icon or mi.icon_html %}
                                sm:btn-ghost 
                                {%- else %}
                                sm:tracking-normal sm:font-normal sm:text-base sm:normal-case sm:hover:underline sm:focus-visible:underline
                                {%- endif %}"
                                title="{{mi.title}}">
                                {%- if mi.icon  or mi.icon_html%}
                                    {{display_icon(mi.icon, mi.icon_html, class="hidden p-1 sm:block")}} 
                                    <span class="sm:hidden">{{mi.title}}</span>
                                {%- else %}
                                    {{mi.title}}
                                {%- endif %}
                            </button>
                            <div jmb-cloak 
                                class="sm:absolute sm:right-0 sm:z-50 sm:-mt-2"
                                jmb-bind:class="{'sm:block': $scope().opened === '{{mi.id}}', 'sm:hidden': $scope().opened !== '{{mi.id}}'}">
                                {# arrow on top of dropdown #}
                                <div class="hidden sm:flex sm:justify-end sm:mr-2">
                                    <div class="w-6 overflow-hidden">
                                        <div class="w-4 h-4 origin-bottom-left transform rotate-45 bg-white border border-grey-200"></div>
                                    </div>
                                </div>
                                {# dropdown #}
                                <div class="pl-4 sm:px-4 sm:py-4 sm:-mt-[1px] sm:bg-white sm:border sm:rounded-sm sm:shadow-md sm:border-grey-200 sm:whitespace-nowrap flex flex-col gap-3 sm:gap-2 sm:min-w-[8rem]">
                                    {%- set ns.topMenuId = mi.id %}
                                    {%- if mi.description %}
                                    <div class="hidden text-sm font-light tracking-wider uppercase sm:block text-grey-700">{{mi.description}}</div> 
                                    {%- endif %}
                                    {{loop(mi.items)}}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="pt-2 text-grey-500">
                            {{mi.title}}
                        </div>
                        <div class="pl-2">
                            {{loop(mi.items)}}
                        </div>
                    {% endif %}
                {% else %}
                   {% if loop.depth == 1 %}
                        {% set ns.topMenuId = mi.id %}
                   {% endif %} 
                        {# class="top-menu__link {% if loop.depth > 1 %}top-menu__link--indropdown{% endif %}"> #}
                    <a href="{{mi.url}}" 
                        {% if mi.jrl %}jmb-on:click.prevent="{{mi.jrl}}"{% endif %} 
                        jmb-bind:class="{
                        'font-semibold': 
                            (   
                                {{mi.active_for_exec_names|tojson|forceescape}}.some(function(en){return $jmb.componentsOnPage().includes(en)})
                                || {{mi.active_for_pathnames|tojson|forceescape}}.some(function(pn){return pn.endsWith('*')? (window.location.pathname === pn.slice(0,-1) || window.location.pathname.startsWith(pn.replace('*','/'))) :window.location.pathname === pn })
                            ) 
                            {# Add ns.topMenuid to active #}
                            {% if ns.topMenuId is not none -%}
                            && ($scope().active = '{{ns.topMenuId}}')
                            {%- endif %}
                        }"
                        class="block text-brand-900/80 hover:underline focus-visible:outline-none focus-visible:underline
                        {%- if loop.depth == 1 and (mi.icon or mi.icon_html) %}
                        sm:btn-ghost
                        {%- else %}
                        {%- endif %}"
                        title="{{mi.description if mi.description else mi.title}}">
                        {%- if loop.depth == 1 %}
                                {%- if mi.icon  or mi.icon_html%}
                                    {{display_icon(mi.icon, mi.icon_html, class="hidden p-1 sm:block")}} 
                                    <span class="sm:hidden">{{mi.title}}</span>
                                {%- else %}
                                    {{mi.title}}
                                {%- endif %}
                        {%- else %}
                            {{mi.title}} 
                        {%- endif %}
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
{% endmacro %}

{# DISPLAY MAIN MENU #}
{% macro display_main_menu(menu) %}
    <div jmb-scope="{active:null, closed:[]}"
            jmb-on:jembe-update-page.camel.window="$scope().active = null; $updateDom();"
            class="flex flex-col h-full gap-3 pt-4 pl-4 pr-2 sm:pb-12 sm:max-h-[calc(100vh-44px)] sm:overflow-y-auto">
        {% for mi in menu.items recursive %}
            {% if mi.is_accessible %}
                {% if mi.is_menu %}
                    <div>
                        <button 
                            {% if loop.depth == 1 %}
                            class="flex items-center justify-between w-[calc(100%+0.5rem)] py-1 pl-2 mb-2 -ml-2 overflow-hidden text-sm tracking-wider uppercase rounded focus-visible:outline-none text-grey-700 bg-grey-100 hover:bg-grey-200"
                            {% else %}
                            class="font-medium flex items-center justify-between w-[calc(100%+0.5rem)] pt-1 mb-2 pl-2  -ml-2 overflow-hidden text-sm tracking-wide uppercase border-b border-grey-300 focus-visible:outline-none hover:bg-grey-200"
                            {% endif %}
                            {%- if mi.description %}title="{{mi.description}}"{% endif %}
                            jmb-on:click.stop="if($scope().closed.includes('{{mi.id}}')) {$scope().closed = $scope().closed.filter(function(itm){return itm!=='{{mi.id}}'})} else {$scope().closed.push('{{mi.id}}')}">
                            <div>{{mi.title}}</div>
                            <div>
                                <div jmb-show="$scope().closed.includes('{{mi.id}}')">{{display_icon('chevron-down-outline', class="w-4 h-4 mr-2")}}</div>
                                <div jmb-show="!$scope().closed.includes('{{mi.id}}')">{{display_icon('chevron-up-outline', class="w-4 h-4 mr-2")}}</div>
                            </div>
                        </button>
                        <div jmb-show="!$scope().closed.includes('{{mi.id}}')" class="flex flex-col gap-3 pl-6 ">
                            {{loop(mi.items)}}
                        </div>
                    </div>
                {% else %}
                    <div> 
                    {{display_link_as_href(
                        mi,
                        attrs={
                            "jmb-bind:class": "{{
                                '!text-primary-900 bg-primary-100 rounded': 
                                    (   
                                        {}.some(function(en){{return $jmb.componentsOnPage().includes(en)}})
                                        || {}.some(function(pn){{return pn.endsWith('*')? (window.location.pathname === pn.slice(0,-1) || window.location.pathname.startsWith(pn.replace('*','/'))):window.location.pathname === pn}})
                                    ) 
                                }}".format(mi.active_for_exec_names|tojson, mi.active_for_pathnames|tojson)|forceescape,
                            "class":"block text-grey-600 hover:underline pl-2 -ml-2 focus-visible:outline-none focus-visible:underline whitespace-nowrap overflow-hidden text-ellipsis"
                        }
                    )}}
                    </div> 
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
{% endmacro %}


{# DISPLAY MENU AS BUTTONS #}
{% macro display_menu_as_buttons(menu, styling=(), buttons_styling=())%}
    {% if menu.is_accessible %}
        <div jmb-scope="{opened:null}" class="flex flex-wrap items-center gap-1 {% if 'align-right' in styling %} flex-row-reverse{% endif %}">
            {% for mi in menu.items recursive %}
                {% if mi.is_accessible %}
                    {% if mi.is_menu %}
                        {% if loop.depth == 1 %}
                            {% call display_menu_dropdown(mi, align_left='align-right' in styling, open_styling=mi.styling + buttons_styling)%}
                                {{loop(mi.items)}}
                            {% endcall %}
                        {% else %}
                            <div class="pt-2 text-right text-grey-400">
                                {{mi.title}}
                            </div>
                            <div class="pl-2">
                                {{loop(mi.items)}}
                            </div>
                        {% endif %}
                    {% else %}
                        {% if loop.depth == 1 %}
                            {{display_link_as_button(mi, mi.styling + buttons_styling)}}
                        {% else %}
                            {{display_link_as_href(mi)}}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div> 
    {% endif %}
{% endmacro %}

{# DISPLAY MENU AS LINKS #}
{% macro display_menu_as_links(menu)%}
    {# size can be micro, short, base, large #}
    {% if menu.is_accessible %}
        <div jmb-scope="{opened:null}" class="flex items-center gap-1">
            {% for mi in menu.items recursive %}
                {% if mi.is_accessible %}
                    {% if mi.is_menu %}
                        {% if loop.depth == 1 %}
                            {% call display_menu_dropdown(mi, from_link=true)%}
                                {{loop(mi.items)}}
                            {% endcall %}
                        {% else %}
                            <div class="pt-2 text-right text-grey-400">
                                {{mi.title}}
                            </div>
                            <div class="pl-2">
                                {{loop(mi.items)}}
                            </div>
                        {% endif %}
                    {% else %}
                        {{display_link_as_href(mi)}}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div> 
    {% endif %}
{% endmacro %}





{# M O D A L S #}


{#  DISPLAY MODAL #}
{% macro display_modal(component, title=none, menu=none, closable=true, styling=(), close_button_title=none, attrs=none, danger=false)%}
    {# size in small, base, wide, fullscreen #}
    {%- set display_header = title is not none or closable %}
    {%- set display_footer = menu is not none or (closable and close_button_title is not none)%}
    {%- set attrs = {"jui-show-modal": true} if attrs is none else attrs %}
    {%- set attrs_class = "fixed inset-0 z-40 bg-grey-900/75" if "class" not in attrs else attrs["class"] %}
    {%- set attrs_class_plus = "" if "class+" not in attrs else attrs["class+"] %}

    <div class="{{attrs_class}} {{attrs_class_plus}}" {{attrs|xmlattr}}>
        <div class="m-auto max-h-[94vh] sm:max-h-[90vh] flex flex-col 
        {%- if 'xs' in styling %}
            min-w-[280px] w-[360px] max-w-[92%] mt-[3vh] sm:mt-[5vh] sm:max-w-[80%] 
        {%- elif 'sm' in styling %}
            min-w-[280px] max-w-[92%] w-[420px] mt-[3vh] sm:mt-[5vh] sm:max-w-[80%] 
        {%- elif 'md' in styling %}
            min-w-[280px] max-w-[92%] w-[768px] mt-[3vh] sm:mt-[5vh] sm:max-w-[80%]
        {%- elif 'lg' in styling %}
            min-w-[280px] max-w-[92%] w-[1024px] mt-[3vh] sm:mt-[5vh] sm:max-w-[80%]
        {%- elif 'xl' in styling %}
            min-w-[280px] max-w-[92%] w-4/5 mt-[3vh] sm:mt-[5vh] sm:max-w-[80%]
        {%- elif 'full' in styling %}
            min-w-full min-h-screen h-full flex flex-col
        {%- else%}
            min-w-[280px] w-[640px] max-w-[92%] mt-[3vh] sm:mt-[5vh] sm:max-w-[80%]
        {%- endif %}">
            {# header #}
            {% if display_header %}
            <div class="flex items-center justify-between py-1 pl-4 pr-2 text-lg leading-5 rounded-t {% if danger %}text-error-900 bg-error-100 {% else %} text-grey-700 bg-grey-200{% endif %}">
                <div>{{title|default('', true)}}</div>
                {% if closable %}
                <button jmb-on:click="{%- if component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" type="button" title="Close" class="btn-ghost text-grey-600">
                    {{display_icon("close-outline", class="text-grey-500")}}
                </button>
                {% endif %}
            </div>
            {% endif %}
            {# content #}
            <div class="p-4 bg-grey-50 grow overflow-y-auto  h-fit
                        {%- if not display_header %} rounded-t{% endif -%} 
                        {%- if not display_footer %} rounded-b{% endif -%} 
                        {%- if 'full' in styling %} grow overflow-auto{% endif -%}"
                        {# support select multiple dropdown to resize modal window #}
                        jmb-on:jembe-update-page.camel.window="if ($self.scrollHeight > 0){$self.removeAttribute('style');$self.setAttribute('style', 'height:'+$self.scrollHeight+'px;')}"
                        jmb-on:jembe-recalc-height.camel.window="if ($self.scrollHeight > 0){$self.removeAttribute('style');$self.setAttribute('style', 'height:'+$self.scrollHeight+'px;')}">
                {{caller()}}
            </div>
            {# footer #}
            {% if display_footer %}
            <div class="p-4 rounded-b bg-grey-50">
                {% if menu is not none  %}
                    {% if menu is string() %}
                    {{menu}}
                    {% else %}
                    {{display_menu_as_buttons(menu, ("align-right",))}}
                    {% endif %}
                {% elif menu is none and closable and close_button_title %}
                    <div class="flex justify-end">
                        <button jmb-on:click="{%- if component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" jmb-on:ready="$self.focus()" type="button" class="btn btn-primary">{{close_button_title}}</button>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}




{# L I S T #}


{# LIST CLEAR FILTERS BUTTON #}
{% macro display_list__clear_filters_button(search_filter, choice_filters) %}
    {% if search_filter is not none or choice_filters %}
    <button jmb-on:click.prevent="{% if search_filter %}search='';{% endif %}{% if choice_filters %}choice_filters={};{% endif %}order_by=null;" class="btn-ghost-micro" type="button">
        {{display_icon('trash-outline')}}
    </button>
    {% endif %}
{% endmacro %}

{# LIST SEARCH INPUT #}
{% macro display_list__search_input(search, search_filter) %}
    {% if search_filter is not none %}
        <input jmb-on:input.debounce.450ms="page=0;search=$self.value;" value="{{search}}" type="search" placeholder="Search..." class="form-input toolbar-input" >
    {% endif %}
{% endmacro %}


{# LIST CHOICE FILTERS #}
{% macro display_list__choice_filters(choice_filters, filters_config) %}
{%- if filters_config %}
    {%- for filter_name, choice_filter in filters_config.items() if choice_filter.is_grouped == false  %}
    {%- for choice in choice_filter.choices  %}
    <label class="btn-micro flex justify-center items-center
        {%- if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
        btn--on
        {%- endif %}" title="{{choice.title}}">
        <input type="checkbox" jmb-on:change="
            if($self.checked) {
                jui_apply_choice_filter('{{filter_name}}','{{choice.value_str}}');
            }else{
                jui_remove_choice_filter('{{filter_name}}','{{choice.value_str}}')
            }"  
            value="{{choice.value_str}}"
            {% if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
            checked
            {% endif %}
            class="hidden">
        {{choice.title|truncate(15, true)}}
    </label> 
    {% endfor %} 
    {% endfor %}
    {% if filters_config.values()|selectattr('is_grouped', "true")|list|length > 0 %}
        {% for filter_name, choice_filter in filters_config.items() if choice_filter.is_grouped == true  %}
        {% if choice_filter.choices|length > 0 %}
        {% set ns = namespace(other_selected = false, title = choice_filter.title) %}
        <div jmb-scope="{opened:false}" jmb-on:click.away="$scope().opened = false;" class="relative">
            <div jmb-show="$scope().opened" jmb-cloak
                class="absolute z-10 top-7 min-w-[70px] left-0 sm:left-auto sm:right-0 shadow border border-grey-300 rounded-sm overflow-hidden bg-white flex flex-col gap-1 py-1">
                {% if not multiselect %}
                <div class="px-2 pt-1 text-xs tracking-wider uppercase whitespace-nowrap text-grey-600">
                    {{choice_filter.title}}:
                </div> 
                {% endif %}
            {% for choice in choice_filter.choices  %}
            <label class="btn btn--white flex justify-start items-center rounded-none whitespace-nowrap
                {% if not choice_filter.multiselect %}pl-4{% endif %}
                {% if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
                btn--on
                {% set ns.other_selected = true %}
                {% set ns.title = choice.title %}
                {% endif %}">
                <input type="checkbox" jmb-on:change="
                    if($self.checked) {
                        jui_apply_choice_filter('{{filter_name}}','{{choice.value_str}}');
                    }else{
                        jui_remove_choice_filter('{{filter_name}}','{{choice.value_str}}')
                    };"
                    value="{{choice.value_str}}"
                    {% if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
                    checked
                    {% endif %}
                    class="hidden">
                {{choice.title}}
            </label> 
            {% endfor %}
            </div>
        {{display_button(
            choice_filter.title if choice_filter.title and choice_filter.multiselect else (ns.title if not choice_filter.multiselect else " "), 
            "$scope().opened = !$scope().opened", 
            icon_name="chevron-down-outline" if not ns.other_selected else "caret-down-outline",
            styling=("micro","icon-last") if not ns.other_selected else ("micro", "icon-last", "on"), 
            attrs={"title": choice_filter.title, "class": "min-w-[5rem]"})
        }}
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% if filters_config.values()|selectattr('is_grouped', "none")|list|length > 0 %}
    <div jmb-scope="{opened:false}" jmb-on:click.away="$scope().opened = false;" class="relative">
        {% set ns = namespace(other_selected = false) %}
        <div jmb-show="$scope().opened" jmb-cloak
             class="absolute z-10 top-7 min-w-[70px] left:0 sm:left-auto sm:right-0 shadow rounded-sm overflow-hidden bg-white border border-grey-300 flex flex-col gap-1 py-1">
        {% for filter_name, choice_filter in filters_config.items() if choice_filter.is_grouped is none  %}
        {% if choice_filter.title %}
            <div class="px-2 pt-1 text-xs tracking-wider uppercase whitespace-nowrap text-grey-600">
                {{choice_filter.title}}:
            </div> 
        {% endif %}
        {% for choice in choice_filter.choices  %}
        <label class="btn btn--white flex justify-start items-center rounded-none whitespace-nowrap
            {% if choice_filter.title %}pl-4{% endif %}
            {% if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
            btn--on
            {% set ns.other_selected = true %}
            {% endif %}">
            <input type="checkbox" jmb-on:change="
                if($self.checked) {
                    jui_apply_choice_filter('{{filter_name}}','{{choice.value_str}}');
                }else{
                    jui_remove_choice_filter('{{filter_name}}','{{choice.value_str}}')
                };"
                value="{{choice.value_str}}"
                {% if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
                checked
                {% endif %}
                class="hidden">
            {{choice.title}}
        </label> 
        {% endfor %} 
        {% endfor %}
        </div>
        {{display_button(
            "Filters", 
            "$scope().opened = !$scope().opened", 
            icon_name="funnel-outline" if not ns.other_selected else "funnel", 
            styling=("micro","icon-last") if not ns.other_selected else ("micro", "icon-last", "on"), 
            attrs={"title": "Other filters"})
        }}
    </div>
    {% endif %}
{% endif %}
{% endmacro %}


{# LIST ORDER BY IN TOOLBAR #}
{% macro display_list__order_by(order_by, order_by_config) %}
    {% if order_by_config %}
    <div class="relative" jmb-scope="{opened:false}" jmb-on:click.away="$scope().opened = false;">
        {% set ns = namespace(ordered = false) %}
        <div jmb-show="$scope().opened" jmb-cloak
             class="absolute z-10 top-7 min-w-[70px] left:0 sm:left-auto sm:right-0 shadow rounded-sm overflow-hidden bg-white border border-grey-300 flex flex-col gap-1 py-1">
            <div class="px-2 pt-1 text-xs tracking-wider uppercase whitespace-nowrap text-grey-600">
                Order by:
            </div> 
        {% for order_name, order_title in order_by_config.items()  %}
        <label class="btn btn--white pl-4 flex justify-between items-center rounded-none whitespace-nowrap
            {% if order_by == order_name  or order_by == '-' + order_name %}
            btn--on
            {% set ns.ordered = true %}
            {% endif %}">
            <input type="checkbox" jmb-on:change="order_by= '{% if not order_by %}{{order_name}}{%elif order_by == order_name %}-{{order_name}}{% else %}{% endif %}'"
                value="{{order_name}}"
                {% if order_by == order_name or order_by == '-' + order_name %} checked {% endif %}
                class="hidden">
                {{order_title}} 
                {%- if order_by == '-' + order_name %}
                {{display_icon('arrow-down-outline', class="w-5 h-5")}}
                {%- elif order_by == order_name %}
                {{display_icon('arrow-up-outline', class="w-5 h-5")}}
                {%- else %}
                <div class="w-5 h-5"></div>
                {%- endif %}
        </label> 
        {% endfor %}
        </div>
        {{display_button(
            "Sort", 
            "$scope().opened = !$scope().opened", 
            icon_name="filter-outline" if not ns.ordered else "filter", 
            styling=("micro","icon-last") if not ns.ordered else ("micro", "icon-last", "on"), 
            attrs={"title": "Sort results"})
        }}
    </div>
    {% endif %}
{% endmacro %}



{# LIST PAGINATION #}
{% macro display_list__pagination(ctx, extra_javascript="") %}
    <div class="relative"
        jmb-scope="{opened:false}"
         jmb-on:mouseleave="if ($scope().opened === true){$scope().opened=false}">
    <nav class="flex items-center gap-1 flex-nowrap" >
        {{display_button(
            jrl="page=page-1;" + extra_javascript,
            styling=("ghost-micro"),
            icon_name="chevron-back-outline",
            attrs={"disabled": ctx.page==0}
        )}}
        <div class="text-xs font-light " title="Current page / Total pages (Total records)">
            {%- if ctx.total_pages > 0 %}
            <span role="textbox" contenteditable="true" 
                class="focus:outline-none focus:border-b focus:border-primary-600"
                jmb-on:focus="$self._initial_value = $self.innerText"
                jmb-on:blur="if($self.innerText !== $self._initial_value){
                    var new_page = $self.innerText.replace(/[^\d]/,'');
                    if (new_page > 0 && new_page < {{ctx.total_pages}} ) {
                        page = new_page - 1;
                        {{extra_javascript}}
                    } else if (new_page <=0 ) {
                        page = 0;
                        {{extra_javascript}}
                    } else if (new_page >= {{ctx.total_pages}}) {
                        page = {{ctx.total_pages}} - 1;
                        {{extra_javascript}}
                    } else {
                        $self.innerText = $self._initial_value;
                    }
                }"
                jmb-on:keydown.enter.prevent="$self.blur()">{{ctx.state.page + 1 }}</span>
             / {{ctx.total_pages}} <a href="" jmb-on:click.prevent="$scope().opened=true" jmb-on:mouseover="$scope().opened=true">(total: {{ctx.total_records}})</a>
             {%- else %}
             0 / 0 (total: 0)
             {%- endif %}
        </div>
        {{display_button(
            jrl="page=page+1;" + extra_javascript,
            styling=("ghost-micro"),
            icon_name="chevron-forward-outline",
            attrs={"disabled": ctx.page==ctx.total_pages -1 or ctx.total_pages==0}
        )}}
    </nav>
    {# drop down#}
    <div jmb-cloak 
        jmb-show="$scope().opened"
        jmb-on:click.prevent="if($event.target.tagName ==='A'){$scope().opened=false}"
        class="absolute z-50 -mt-2 right-8">
        {# arrow on top of dropdown #}
        <div class="flex justify-end mr-6">
            <div class="w-3 overflow-hidden">
                <div class="w-2 h-2 origin-bottom-left transform rotate-45 bg-white border border-grey-300"></div>
            </div>
        </div>
        {# dropdown #}
        <div class="py-2 -mt-[1px] text-sm font-light bg-white border rounded shadow shadow-grey-400 border-grey-300 whitespace-nowrap flex flex-col gap-2 min-w-[4rem]">
            <div class="px-2 text-xs tracking-wider uppercase text-grey-700">Page size</div>
            {% for ps in ctx.jui_pagination_steps  %}
            <a href="#" jmb-on:click.prevent="page_size={{ps}}" class="text-right {%if ctx.state.page_size == ps%}bg-primary-300/70{%endif%} px-2 hover:bg-grey-300">{{ps}}</a>
            {% endfor %}
        </div>
    </div>
    </div>
{% endmacro %}

{% macro display_list__bottom_pagination(ctx, extra_javascript="window.scroll(0,0)") %}
    <div class="relative"
        jmb-scope="{opened:false}"
         jmb-on:mouseleave="if ($scope().opened === true){$scope().opened=false}">
    <nav class="flex items-center gap-1 flex-nowrap">
        {{display_button(
            jrl="page=page-1;" + extra_javascript,
            styling=("micro"),
            icon_name="chevron-back-outline",
            attrs={"disabled": ctx.page==0}
        )}}
        <div class="px-4 text-sm " title="Current page / Total pages (Total records)">
            {%- if ctx.total_pages > 0 %}
            <span role="textbox" contenteditable="true" 
                class="focus:outline-none focus:border-b focus:border-primary-600"
                jmb-on:focus="$self._initial_value = $self.innerText"
                jmb-on:blur="if($self.innerText !== $self._initial_value){
                    var new_page = $self.innerText.replace(/[^\d]/,'');
                    if (new_page > 0 && new_page < {{ctx.total_pages}} ) {
                        page = new_page - 1;
                        {{extra_javascript}}
                    } else if (new_page <=0 ) {
                        page = 0;
                        {{extra_javascript}}
                    } else if (new_page >= {{ctx.total_pages}}) {
                        page = {{ctx.total_pages}} - 1;
                        {{extra_javascript}}
                    } else {
                        $self.innerText = $self._initial_value;
                    }
                }"
                jmb-on:keydown.enter.prevent="$self.blur()">{{ctx.state.page + 1 }}</span>
             / {{ctx.total_pages}} <a href="" jmb-on:click.prevent="$scope().opened=true" jmb-on:mouseover="$scope().opened=true">(total: {{ctx.total_records}})</a>
             {%- else %}
             0 / 0 (total: 0)
             {%- endif %}
        </div>
        {{display_button(
            jrl="page=page+1;" + extra_javascript,
            styling=("micro", "icon-last"),
            icon_name="chevron-forward-outline",
            attrs={"disabled": ctx.page==ctx.total_pages -1 or ctx.total_pages==0}
        )}}
    </nav>
    {# drop down#}
    <div jmb-cloak 
        jmb-show="$scope().opened"
        jmb-on:click.prevent="if($event.target.tagName ==='A'){$scope().opened=false}"
        class="absolute z-50 -mt-2 bottom-6 right-1/3">
        {# dropdown #}
        <div class="py-2 -mt-[1px] text-sm font-light bg-white border rounded shadow shadow-grey-400 border-grey-300 whitespace-nowrap flex flex-col gap-2 min-w-[4rem]">
            {% for ps in ctx.jui_pagination_steps|reverse  %}
            <a href="#" jmb-on:click.prevent="page_size={{ps}}" class="text-right {%if ctx.state.page_size == ps%}bg-primary-300/70{%endif%} px-2 hover:bg-grey-300">{{ps}}</a>
            {% endfor %}
            <div class="px-2 text-xs tracking-wider uppercase text-grey-700">Page size</div>
        </div>
        {# arrow on top of dropdown #}
        {# <div class="flex justify-end mr-6">
            <div class="w-4 overflow-hidden">
                <div class="w-2 h-2 origin-bottom-right transform rotate-45 bg-white border border-grey-300"></div>
            </div>
        </div> #}
    </div>
    </div>
{% endmacro %}


{# TABLE #}
{% macro display_list__table(records, fields_config, field_values, order_by, order_by_config, record_menu_config, get_record_menu, search, choice_filters, total_records, has_records=true) %}
    {% if  not has_records %}
    <div class="text-sm text-center text-grey-500 ">No data found</div>  
    {% else %}
    <div class="pb-2 overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <table class="w-full border border-t-0 border-grey-400/50">
            <thead class="bg-grey-300/90">
                <tr>
                    {% for field_name, field_title in fields_config.items() %}
                    {% if field_name in order_by_config %}
                        {% if order_by == field_name %}
                        <th class="font-normal text-primary-900 bg-primary-200/80">
                            <a href="" class="flex items-center justify-between px-2 py-1" jmb-on:click.prevent="order_by='-{{field_name}}'; page=0">
                                {{field_title|capitalize}}
                                {{display_icon('arrow-down-outline', class="w-5 h-5")}}
                            </a>
                        </th>
                        {% elif order_by == "-" + field_name %}
                        <th class="font-normal text-primary-900 bg-primary-200/80">
                            <a href="" class="flex items-center justify-between px-2 py-1" jmb-on:click.prevent="order_by=null; page=0">
                                {{field_title|capitalize}}
                                {{display_icon('arrow-up-outline', class="w-5 h-5")}}
                            </a>
                        </th>
                        {% else %}
                        <th class="font-normal ">
                            <a href="" class="flex items-center justify-between px-2 py-1" jmb-on:click.prevent="order_by='{{field_name}}'; page=0">
                                {{field_title|capitalize}}
                            </a>
                        </th>
                        {% endif %}
                    {% else %}
                    <th class="flex items-center justify-start px-2 py-1 font-normal">
                        {{field_title|capitalize}}
                    </th>
                    {% endif %}
                    {% endfor %}
                    {% if record_menu_config %}
                    <th><span class="flex items-center justify-end px-4 py-1">Actions</span></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="bg-white">
        {% for record in records  %}
            <tr class="{{loop.cycle('bg-grey-100/80','bg-white')}} hover:bg-primary-100/60">
                {% for field_name in fields_config.keys() %}
                <td class="px-2 py-2">
                    {{field_values[field_name](record, field_name)|default("", True)}}
                </td>
                {% endfor %}
                {% if record_menu_config %}
                <td class="flex items-start justify-end px-4 py-2">
                    {{display_menu_as_links(get_record_menu(record))}}
                </td> 
                {% endif %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    {% endif %}
{% endmacro %}


{% macro display_list_records_as_table(ctx) %}
    {{display_list__table(
        ctx.records, 
        ctx._config.fields, 
        ctx.field_values, 
        ctx.state.order_by, 
        ctx._config.order_by, 
        ctx._config.record_menu, 
        ctx.get_record_menu,
        ctx.state.search,
        ctx.state.choice_filters,
        ctx.total_records,
        ctx.has_records
    )}}
{% endmacro %}

{% macro display_list_toolbar(ctx, display_order_by=true) %}
    <div class="flex flex-wrap items-center justify-end gap-1">
    {% if ctx.has_records %}
        {{display_list__clear_filters_button(ctx._config.search_filter, ctx.jui_choice_filters_config)}}
        {{display_list__search_input(ctx.search, ctx._config.search_filter)}}
        {% if ctx._config.search_filter %}
        <div class="h-0 basis-full sm:hidden"></div>
        {% endif %}
        <div class="flex flex-wrap justify-start w-full gap-1 sm:contents">
        {{display_list__choice_filters(ctx.state.choice_filters, ctx.jui_choice_filters_config)}}
        {% if display_order_by %}
        {{display_list__order_by(ctx.state.order_by, ctx._config.order_by)}}
        {% endif %}
        <div class="flex justify-end grow sm:grow-0 basis-0 sm:basis-auto">
        {{display_list__pagination(ctx)}}
        </div>
        </div>
    {%- endif %}
    </div>
{% endmacro %}