{# I C O N S #}
{% macro display_icon(icon_name=none, icon_html=none, default_icon_name="checkmark-circle-outline", class=none) %}
    {%- if icon_html %}
        {{icon_html}}
    {%- elif icon_name %}
        {%- include "jembeui/s0/icons/{}.svg".format(icon_name) with context %}
    {%- elif default_icon_name %}
        {%- include "jembeui/s0/icons/{}.svg".format(default_icon_name) with context %}
    {%- endif %}
{% endmacro %}
{# L I N K S #}

{# Display link as HREF #}
{% macro display_link_as_href(link, styling=()) %}
    {% if link.is_accessible %}
        {% if "as_button" in link.styling %}
            {{display_link_as_button(link)}}
        {% endif %}
        {% set styling = styling if styling else link.styling %}
        <a href="{{link.url}}"{% if link.jrl %} jmb-on:click.prevent="{{link.jrl}}"{% endif %} class="href">{{link.title}}</a>
    {% endif %}
{% endmacro %}

{# Display link as Button #}
{% macro display_button(title=none, jrl=none, icon_name=none, icon_html=none, default_icon_name=none, styling=(), attrs=none) %}
    {% set has_icon = icon_name  or icon_html %}
    {% set is_ghost = (has_icon or default_icon_name) and (not title or "ghost" in styling or "ghost-micro" in "styling") %}
    {% set attrs = attrs if attrs else {} %}
    <button type="button" class="
        {%- if is_ghost %}
            {%- if 'ghost-micro' in styling%}
                btn-ghost-micro
            {%- else %}
                btn-ghost
            {%- endif %}
        {%- elif 'micro' in styling %}
            btn-micro
        {%- elif 'short' in styling %}
            btn-short
        {%- else %}
            btn
        {%- endif %}
        {%- if not is_ghost and has_icon %}
        flex items-center
        {%- endif %}
        {%- if 'primary' in styling %}
            btn--primary
        {%- elif 'secondary' in styling %}
            btn--secondary
        {%- elif 'brand' in styling %}
            btn--brand
        {%- elif 'danger' in styling %}
            btn--danger
        {%- endif %}" 
        {%- if jrl %}
        jmb-on:click.prevent="{{jrl}}"
        {%- endif %}
        {%- if is_ghost and title %}
        title="{{title}}"
        {%- endif %}
        {%- if attrs %}
            {%- for k,v in attrs.items() %}
                {{k}}="{{v}}"
            {%- endfor %}
        {%- endif %}>
        {%- if is_ghost %}
            {{display_icon(icon_name, icon_html, class="p-1")}} 
        {%- elif has_icon %}
            {%- set icon_is_last = "icon-last" in styling %}
            {%- set icon_class = "w-8 h-8 p-1" if "micro" not in styling else "w-6 h-6 p-1" %}
            {%- if has_icon and not icon_is_last %}
                {{display_icon(icon_name, icon_html, class=icon_class)}} 
            {%- endif -%}
            <div class="grow">
                {{title|default('',true)}}
            </div>
            {%- if has_icon and icon_is_last %}
                {{display_icon(icon_name, icon_html, class=icon_class)}} 
            {%- endif -%}
        {%- else %}
            {{title|default('',true)}}
        {%- endif -%}
    </button>
{% endmacro %}

{% macro display_link_as_button(link, styling=(), attrs=none) %}
    {% if link.is_accessible %}
        {% if "as_href" in link.styling %}
            {{display_link_as_href(link)}}
        {% endif %}
        {% set styling = styling if styling else link.styling %}
        {{display_button(
            title=link.title,
            jrl=link.jrl,
            icon_name=link.icon_name,
            icon_html=link.icon_html,
            styling=styling,
            attrs=attrs
        )}}
    {% endif %}
{% endmacro %}


{# M E N U S #}

{# DISPLAY SYSTEM MENU #}
{% macro display_system_menu(menu) %}
    <div jmb-scope="{opened:null, active:null, timeout:null}"
            jmb-on:jembe-update-page.camel.window="$scope().active = null;$updateDom();"
            class="flex flex-col gap-2 pt-4 pb-2 pl-4 pr-2 bg-white border-b border-grey-300 sm:bg-transparent sm:border-none sm:flex-row sm:items-center sm:justify-end sm:h-full sm:gap-2 sm:py-0 sm:pr-2 sm:px-0">
        {% set ns = namespace(topMenuId = none) %}
        {% for mi in menu.items recursive %}
            {% if mi.is_accessible %}
                {% if mi.is_menu %}
                    {% if loop.depth == 1 %}
                        <div jmb-on:mouseleave="if ($scope().opened === '{{mi.id}}') {$scope().timeout=setTimeout(function(){$scope().opened=null}, 50)}" 
                             jmb-on:click.away="if ($scope().opened === '{{mi.id}}') {$scope().opened=null}"
                             jmb-on:mouseover="clearTimeout($scope().timeout); $scope().opened = '{{mi.id}}'"
                             class="relative my-4 sm:m-0">
                            <button type="button"
                                jmb-on:focus="$scope().opened='{{mi.id}}'"
                                jmb-bind:class="{'sm:!font-semibold': $scope().active === '{{mi.id}}'}"
                                class="block mb-2 text-sm font-light tracking-wider uppercase focus-visible:outline-none sm:mb-0 text-grey-600 sm:tracking-normal sm:font-normal sm:text-base sm:normal-case sm:hover:underline sm:focus-visible:underline">
                                {{mi.title}}
                            </button>
                            <div jmb-cloak 
                                class="sm:absolute sm:right-0 sm:z-50 sm:-mt-2"
                                jmb-bind:class="{'sm:block': $scope().opened === '{{mi.id}}', 'sm:hidden': $scope().opened !== '{{mi.id}}'}">
                                {# arrow on top of dropdown #}
                                <div class="hidden sm:flex sm:justify-end sm:mr-4">
                                    <div class="w-6 overflow-hidden">
                                        <div class="w-4 h-4 origin-bottom-left transform rotate-45 bg-white border border-grey-200"></div>
                                    </div>
                                </div>
                                {# dropdown #}
                                <div class="pl-4 sm:px-4 sm:py-4 sm:-mt-[1px] sm:bg-white sm:border sm:rounded-sm sm:shadow-md sm:border-grey-200 sm:whitespace-nowrap flex flex-col gap-2 sm:min-w-[8rem]">
                                    {% set ns.topMenuId = mi.id %}
                                    {{loop(mi.items)}}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="pt-2 text-grey-500">
                            {{mi.title}}
                        </div>
                        <div class="pl-2">
                            {{loop(mi.items)}}
                        </div>
                    {% endif %}
                {% else %}
                   {% if loop.depth == 1 %}
                        {% set ns.topMenuId = mi.id %}
                   {% endif %} 
                        {# class="top-menu__link {% if loop.depth > 1 %}top-menu__link--indropdown{% endif %}"> #}
                    <a href="{{mi.url}}" 
                        {% if mi.jrl %}jmb-on:click.prevent="{{mi.jrl}}"{% endif %} 
                        jmb-bind:class="{
                        'font-semibold': 
                            (   
                                {{mi.active_for_exec_names|tojson|forceescape}}.some(function(en){return $jmb.componentsOnPage().includes(en)})
                                || {{mi.active_for_pathnames|tojson|forceescape}}.some(function(pn){return window.location.pathname === pn})
                            ) 
                            {# Add ns.topMenuid to active #}
                            {% if ns.topMenuId is not none -%}
                            && ($scope().active = '{{ns.topMenuId}}')
                            {%- endif %}
                        }"
                        class="block text-grey-600 hover:underline focus-visible:outline-none focus-visible:underline">
                        {{mi.title}} 
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
{% endmacro%}

{# DISPLAY MAIN MENU #}
{% macro display_main_menu(menu) %}
    <div jmb-scope="{active:null}"
            jmb-on:jembe-update-page.camel.window="$scope().active = null; $updateDom();"
            class="flex flex-col h-full gap-2 pt-4 pb-2 pl-4 pr-2">
        {% for mi in menu.items recursive %}
            {% if mi.is_accessible %}
                {% if mi.is_menu %}
                    {% if loop.depth == 1 %}
                        <div class="my-4">
                            <button type="button"
                                class="block mb-2 text-sm font-light tracking-wider uppercase focus-visible:outline-none text-grey-600 ">
                                {{mi.title}}
                            </button>
                            <div class="flex flex-col gap-2 pl-4 ">
                                {{loop(mi.items)}}
                            </div>
                        </div>
                    {% else %}
                        <div class="pt-2 text-grey-400">
                            {{mi.title}}
                        </div>
                        <div class="pl-2">
                            {{loop(mi.items)}}
                        </div>
                    {% endif %}
                {% else %}
                    <a href="{{mi.url}}" {% if mi.jrl %}jmb-on:click.prevent="{{mi.jrl}}"{% endif %} 
                        jmb-bind:class="{
                        'font-semibold': 
                            (   
                                {{mi.active_for_exec_names|tojson|forceescape}}.some(function(en){return $jmb.componentsOnPage().includes(en)})
                                || {{mi.active_for_pathnames|tojson|forceescape}}.some(function(pn){return window.location.pathname === pn})
                            ) 
                        }"
                        class="block text-grey-600 hover:underline focus-visible:outline-none focus-visible:underline">
                        {{mi.title}} 
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
{% endmacro%}


{# DISPLAY MENU AS BUTTONS #}
{% macro display_menu_as_buttons(menu, aligh_right=false, button_class="btn")%}
    <div jmb-scope="{opened:null}" class="flex gap-1">
        {% for mi in menu.items recursive %}
            {% if mi.is_accessible %}
                {% if mi.is_menu %}
                    {% if loop.depth == 1 %}
                        <div class="relative"
                             jmb-on:click.away="if ($scope().opened === '{{mi.id}}'){$scope().opened=null}">
                             {{display_button(
                                 title=mi.title, 
                                 icon_name=mi.icon_name if mi.icon_name or mi.icon_html else "chevron-down-outline", 
                                 icon_html=mi.icon_html, 
                                 styling=mi.styling + ("icon-last",),
                                 attrs={
                                    'jmb-on:click.prevent': 
                                        "if ($scope().opened === '{0}'){{$scope().opened = null}}else{{$scope().opened = '{0}'}}".format(mi.id)
                                }
                             )}}
                            <div class="absolute z-40 px-4 py-2 mt-2 bg-white rounded-sm shadow -right-4 border-grey-300 whitespace-nowrap"
                                 jmb-show="$scope().opened === '{{mi.id}}'"
                                 jmb-cloak
                                 jmb-on:click.prevent="if($event.target.tagName ==='A'){$scope().opened=null}">
                                {{loop(mi.items)}}
                            </div>
                        </div>
                    {% else %}
                        <div class="pt-2 text-right text-grey-400">
                            {{mi.title}}
                        </div>
                        <div class="pl-2">
                            {{loop(mi.items)}}
                        </div>
                    {% endif %}
                {% else %}
                    {% if loop.depth == 1 %}
                        {{display_link_as_button(mi)}}
                    {% else %}
                        {{display_link_as_href(mi)}}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
{% endmacro%}

{# DISPLAY MENU AS LINKS #}
{% macro display_menu_as_links(menu)%}
    {# size can be micro, short, base, large #}
    {% if menu.is_accessible %}
    <div jmb-scope="{opened:null}" class="flex flex-row items-center gap-2">
        {% for mi in menu.items recursive %}
            {% if mi.is_accessible %}
                {% if mi.is_menu %}
                    {% if loop.depth == 1 %}
                        <div class="relative"
                             jmb-on:click.away="if ($scope().opened === '{{mi.id}}'){$scope().opened=null}">
                             <div>
                                <a href="#" jmb-on:click.prevent="if ($scope().opened === '{{menu.id}}'){$scope().opened = null}else{$scope().opened = '{{menu.id}}'}">
                                    {{menu.title|default("", true)}}
                                    {{display_icon(mi.icon, mi.icon_html, "ellipsis-horizontal-outline" if not menu.title else "")}}
                                </a>
                             </div>
                            <div class="absolute z-40 hidden px-4 py-2 mt-2 bg-white rounded-sm shadow -right-4 border-grey-300 whitespace-nowrap"
                                 jmb-bind:class="{'': $scope().opened === '{{mi.id}}'}"
                                 jmb-cloak>
                                {{loop(mi.items)}}
                            </div>
                        </div>
                    {% else %}
                        <div class="pt-2 text-right text-grey-400">
                            {{mi.title}}
                        </div>
                        <div class="pl-2">
                            {{loop(mi.items)}}
                        </div>
                    {% endif %}
                {% else %}
                    {{display_link_as_href(mi)}}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
    {% endif %}
{% endmacro%}





{# M O D A L S #}


{#  DISPLAY MODAL #}
{% macro display_modal(component, title=none, menu=none, closable=true, size="base", close_button_title=none)%}
    {# size in small, base, wide, fullscreen #}
    {% set display_header = title is not none or closable %}
    {% set display_footer = menu is not none or (closable and close_button_title is not none)%}

    <div class="fixed inset-0 z-50 bg-opacity-80 bg-grey-900">
        <div class="min-w-[280px] m-auto mt-[5vh]
        {%- if size == 'small' %}
            max-w-[80%] w-[420px]
        {%- elif size == 'base' %}
            max-w-[80%] w-[650px]
        {%- elif size == 'wide' %}
            max-w-[80%] w-4/5
        {%- elif size == 'fullscreen' %}
        {%- endif %}">
            {# header #}
            {% if display_header %}
            <div class="flex items-center justify-between py-1 pl-4 pr-2 text-lg leading-6 rounded-t-sm bg-grey-200">
                <div>{{title|default('', true)}}</div>
                {% if closable %}
                <button jmb-on:click="{%- if component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" type="button" title="Close" class="btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Close</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
                </button>
                {% endif %}
            </div>
            {% endif %}
            {# content #}
            <div class="p-4 bg-grey-50 {% if not display_header %}rounded-t-sm{% endif %} {% if not display_footer %}rounded-b-sm{% endif %}">
                {{caller()}}
            </div>
            {# footer #}
            {% if display_footer %}
            <div class="p-4 rounded-b-sm bg-grey-50">
                {% if menu is not none  %}
                    {% if menu is string() %}
                    {{menu}}
                    {% else %}
                    {{display_menu_as_buttons(menu, aligh_right=true)}}
                    {% endif %}
                {% elif menu is none and closable and close_button_title %}
                    <div class="flex justify-end">
                        <button jmb-on:click="{%- if component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" jmb-on:ready="$self.focus()" type="button" class="btn btn-primary">{{close_button_title}}</button>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}