{% from "jembeui/s0/macros.html" import display_icon, display_button %}

{% macro form_field(form, field, render_kw = none) %}
    {% set render_kw = {} if render_kw is none else render_kw %}
    {% set render_kw = form.resolve_kw(form.RENDER_KW[field.name], render_kw, false) %}

    {% set field_id = "{}--{}".format(form.cform.exec_name.replace("/","-").replace(".","-_-"), field.name) %}
    {% set styling = render_kw.get("_styling", []) %}
    {% set is_not_disabled = render_kw.get("disabled", false) == false and not form.is_disabled %}
    {% set instant_validate = ((form.__instant_validate__ and render_kw.get('__instant_validate__', none) in (none, true)) or render_kw.get('_instant_validate', none) == true) and "validate" in form.cform._config.component_actions  %}
    {% set instant_submit = ((form.__instant_submit__ and render_kw.get('__instant_submit__', none) in (none, true)) or render_kw.get('__instant_submit__', none) == true ) and "submit" in form.cform._config.component_actions %}

    {% set fclass = field.__class__.__name__ %}
    {% if fclass == "BooleanField" %}
        {{_boolean_field(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
    {# {% elif fclass == "DateField" %}
    {% elif fclass == "DateTimeField" %}
    {% elif fclass == "SelectMultipleField" %}
    {% elif fclass == "FileField" %} #}
    {% elif fclass == "ImageField" %}
        {{_default_field(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
    {% else %}
        {{_default_field(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
    {% endif %}
{% endmacro %}

{% macro form_field_widget(form, field, render_kw = none) %}
    {% set render_kw = {} if render_kw is none else render_kw %}
    {% set render_kw = form.resolve_kw(form.RENDER_KW[field.name], render_kw, false) %}

    {% set field_id = "{}--{}".format(form.cform.exec_name.replace("/","-").replace(".","-_-"), field.name) %}
    {% set styling = render_kw.get("_styling", []) %}
    {% set is_not_disabled = render_kw.get("disabled", false) == false and not form.is_disabled %}
    {% set instant_validate = ((form.__instant_validate__ and render_kw.get('__instant_validate__', none) in (none, true)) or render_kw.get('_instant_validate', none) == true) and "validate" in form.cform._config.component_actions  %}
    {% set instant_submit = ((form.__instant_submit__ and render_kw.get('__instant_submit__', none) in (none, true)) or render_kw.get('__instant_submit__', none) == true ) and "submit" in form.cform._config.component_actions %}

    {{_form_field_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
{% endmacro %}
















{# P R I V A T E    M A C R O S #}

{# Callaed internaly asume that render_kw is resolved #}
{% macro _form_field_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit) %}
    {% set fclass = field.__class__.__name__ %}
    {% if fclass == "BooleanField" %}
        {{_boolean_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
    {% elif fclass == "SelectField" %}
        {{_default_widget(form, field, render_kw, field_id, is_not_disabled, styling + ('_jui_select_input',), instant_validate, instant_submit)}}
    {% elif fclass == "TextAreaField" %}
        {{_textarea_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
    {# {% elif fclass == "DateField" %}
    {% elif fclass == "DateTimeField" %}
    {% elif fclass == "SelectMultipleField" %}
    {% elif fclass == "FileField" %} #}
    {% elif fclass == "ImageField" %}
        {{_image_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
    {% else %}
        {{_default_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
    {% endif %}
{% endmacro %}












{# S P E C I F I C   F I E L D S   I M P L E M E N T A T I O N S #}
{% macro _default_field(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit) %}
    {% set default_class = "flex flex-col grow basis-0" if "full" in styling else "flex flex-col" %}
    <div {{form.attr_kw(form.resolve_kw(render_kw._field|default({},true), {"class+":default_class}, false))|xmlattr}}>
        <div class="flex items-center justify-between mb-1">
            <label for="{{field_id}}" class="flex flex-row items-center justify-between text-xs">{{field.label.text}}</label>
            <div class="text-xs font-light text-grey-600">
            {% if is_not_disabled and not field.flags.required %}optional{% endif %}
            {% if field.description %}{{field.description}}{% endif %}
            </div>
        </div>
        {{_form_field_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
        {% for error in field.errors %}
        <div class="mt-1 text-sm leading-6 text-error-500">{{error}}</div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro _boolean_field(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit) %}
    {% set default_class = "flex flex-col mt-2" if "full" not in styling else "flex flex-col grow basis-0 mt-2" %}
    <div {{form.attr_kw(form.resolve_kw(render_kw._field|default({},true), {"class+":default_class}, false))|xmlattr}}>
        <div class="flex flex-row items-center">
            {{_form_field_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit)}}
            <label for="{{field_id}}" class="w-full ml-1 text-sm {% if is_not_disabled %} cursor-pointer {% endif %} basis-0 grow">{{field.label.text}}</label>
            <div class="text-xs font-light text-grey-600">
                {# {% if is_not_disabled and not field.flags.required %}optional{% endif %} #}
                {% if field.description %}{{field.description}}{% endif %}
            </div>
        </div>
        {% for error in field.errors %}
        <div class="mt-1 ml-6 text-sm leading-6 text-error-500">{{error}}</div>
        {% endfor %}
    </div>
{% endmacro %}


{# S P E C I F I C   W I D G E T S   I M P L E M E N T A T I O N #}
{% macro _default_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit) %}
    {% set render_kw = form.resolve_kw(
        render_kw,
        {
            "id":field_id,
            "disabled": not is_not_disabled,
            "class":" ".join(
                [
                    "form-select" if "_jui_select_input" in styling else ("form-input"), 
                    "input--error" if field.errors else ""
                ]
            ),
            "jmb-on:change.defer": (
                "form.{fname} = $self.value;"  
                + ("modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in form.cform.state else "")
            ).format(fname=field.name) if is_not_disabled and not instant_validate and not instant_submit else none,
            "jmb-on:change": (
                "form.{fname} = $self.value;"  
                + ("modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in form.cform.state else "")
                + ("validate();" if instant_validate  else "")
                + ("submit();" if instant_submit else "")
            ).format(fname=field.name) if is_not_disabled and (instant_validate or instant_submit) else none,
            "jmb-on:keydown.enter": "$self.blur();$self.focus();submit()" if is_not_disabled and "submit" in form.cform._config.component_actions else none,
        }
    )%}
    {{field(**form.attr_kw(render_kw))}}
{% endmacro %}

{% macro _textarea_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit) %}
    {% set render_kw = form.resolve_kw(
        render_kw,
        {
            "id":field_id,
            "disabled": not is_not_disabled,
            "class":" ".join(
                [
                    "form-textarea",
                    "input--error" if field.errors else ""
                ]
            ),
            "jmb-on:change.defer": (
                "form.{fname} = $self.value;"  
                + ("modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in form.cform.state else "")
            ).format(fname=field.name) if is_not_disabled and not instant_validate and not instant_submit else none,
            "jmb-on:change": (
                "form.{fname} = $self.value;"  
                + ("modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in form.cform.state else "")
                + ("validate();" if instant_validate  else "")
                + ("submit();" if instant_submit else "")
            ).format(fname=field.name) if is_not_disabled and (instant_validate or instant_submit) else none,
            "jmb-on:keydown.ctrl.enter": "$self.blur();$self.focus();submit()" if is_not_disabled and "submit" in form.cform._config.component_actions else none,
        }
    )%}
    {{field(**form.attr_kw(render_kw))}}
{% endmacro %}


{% macro _boolean_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit) %}
    {% set render_kw = form.resolve_kw(
        render_kw,
        {
            "id":field_id,
            "disabled": not is_not_disabled,
            "class":" ".join(
                [
                    "form-checkbox", 
                    "input--error" if field.errors else ""
                ]
            ),
            "jmb-on:change.defer": (
                "form.{fname} = $self.checked;"  
                + ("modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in form.cform.state else "")
            ).format(fname=field.name) if is_not_disabled and not instant_validate and not instant_submit else none,
            "jmb-on:change": (
                "form.{fname} = $self.checked;"  
                + ("modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in form.cform.state else "")
                + ("validate();" if instant_validate  else "")
                + ("submit();" if instant_submit else "")
            ).format(fname=field.name) if is_not_disabled and (instant_validate or instant_submit) else none,
            "jmb-on:keydown.enter": "$self.blur();$self.focus();submit()" if is_not_disabled and "submit" in form.cform._config.component_actions else none,
        }
    )%}
    {{field(**form.attr_kw(render_kw))}}
{% endmacro %}



{% macro _image_widget(form, field, render_kw, field_id, is_not_disabled, styling, instant_validate, instant_submit) %}
    {% set instant_validate_submit = "submit();" if instant_submit else ("validate(true);" if "validate" in form.cform._config.component_actions else "") %}
    {% set render_kw = form.resolve_kw(
        render_kw,
        {
            "id":field_id,
            "disabled": not is_not_disabled,
            "class": "hidden",
            "accept": "image/png, image/jpeg",
            "jmb-on:change": (
                "form.{fname} = $self.files[0];" 
                + (" modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in form.cform.state else "")
                + instant_validate_submit
            ).format(fname=field.name) if is_not_disabled else none,
        }
    )%}
    <div jmb-scope="{showControls: false, showEnlarged: false, enlargedUrl: '', showEdit: false, editor: null}"
         {%- if field.data or is_not_disabled %}
         jmb-on:mouseenter="$scope().showControls = true"
         {%- endif %}
         jmb-on:mouseleave="$scope().showControls = false"
         jmb-on:focusin.document="if ($scope().showControls && !$self.contains(document.activeElement)){$scope().showControls=false}" 
         class="relative">
        {# thumbnail #}
        <button class="z-0 flex items-center justify-center w-full overflow-hidden bg-white rounded-lg cursor-pointer focus-visible:shadow-focus focus-visible:outline-none focus-visible:shadow-primary-500/30 focus-visible:ring-primary-500/30"
                {%- if field.data or is_not_disabled %}
                jmb-on:focus="$scope().showControls = true"
                {%- else %}
                disabled
                {%- endif %}
                style="height: {{field.thumbnail_size[1]}}px;
                      {%- if not field.data %}width: {{field.thumbnail_size[0]*1.5}}px;{% endif %}">
            {% if field.data %}
            <img src="{{field.thumbnail().url}}" alt="{{field.data.basename}} thumbnail" class="object-contain w-full h-full">
            {% endif %}
        </button>
        {# enlarged view #}
        <div jmb-cloak
             jmb-show="$scope().showEnlarged"
             class="fixed inset-0 z-50 flex bg-grey-900/90">
             <button jmb-on:click="$scope().showEnlarged=false"
                     class="fixed top-0 right-0 m-2 text-primary-50 hover:text-primary-200">
                     {{display_icon("close-outline", class="w-8 h-8")}}
             </button>
             <img jmb-bind:src="$scope().enlargedUrl" alt="{{field.data.basename}}"
                  class="object-scale-down w-screen h-screen m-auto">
        </div>
        {# Editor #}
        {% if field.data and field.enable_image_edit %}
        <div jmb-show="$scope().showEdit" 
             jmb-cloak 
             class="fixed inset-0 z-50 flex flex-col bg-grey-900/90">
            <div id="{{field_id}}-editor" class="grow"></div>
            <div class="flex flex-row-reverse gap-1 p-1">
                {{display_button(
                    title="Apply",
                    jrl="
                    juiSaveTuiImage($scope().editor).then(function(files){{
                                    form.{field_name}=files[0]; 
                                    {ivs}
                                    $jmb.executeCommands();
                                    $scope().editor.destroy(); 
                                    $scope().imgUrl = '';
                                    $scope().showEdit=false;
                    }})".format(field_name=field.name, ivs=instant_validate_submit),
                    styling=("primary",)
                )}}
                {{display_button(
                    title="Cancel", 
                    jrl="$scope().editor.destroy(); $scope().showEdit=false;"
                )}}
            </div>
        </div>
        {% endif %}
        {# controls #}
        <div  class="absolute inset-0 flex justify-center pointer-events-none">
            <div jmb-show="$scope().showControls"
                 class="flex gap-1 p-2 m-auto rounded-md shadow pointer-events-auto bg-grey-100/80 outline outline-grey-50 outline-1">
                {% if is_not_disabled %}
                <button jmb-on:click="document.getElementById('{{field_id}}').click()" 
                        class="rounded hover:text-primary-900 hover:bg-primary-50 focus:shadow-focus focus:outline-none focus:shadow-primary-500/30 focus:ring-primary-500/30"
                        title="Upload image">
                    {{display_icon("cloud-upload-outline", class="w-8 h-8 m-2")}}
                </button>
                {% endif %}
                {% if is_not_disabled and field.enable_screenshot %}
                <button jmb-on:click="if (juiCanTakeScreenshot) { juiTakeScreenshot().then( function(files){ if (files){ form.{{field.name}}=files[0]; {{instant_validate_submit}}; $jmb.executeCommands();}})}"
                        class="rounded hover:text-primary-900 hover:bg-primary-50 focus:shadow-focus focus:outline-none focus:shadow-primary-500/30 focus:ring-primary-500/30"
                        title="Take screenshot">
                    {{display_icon("camera-outline", class="w-8 h-8 m-2")}}
                </button>
                {% endif %}
                {% if is_not_disabled and field.data and field.enable_image_edit %}
                <button jmb-on:click="
                        $scope().showEdit = true;
                        $scope().editor = new tui.ImageEditor(
                            document.querySelector('#{{field_id}}-editor'),
                            {
                                includeUI: {
                                    loadImage: {
                                        path:'{{field.data.url}}',
                                        name: 'Edit image',
                                    },
                                    theme: {
                                        'header.display': 'none',
                                    },
                                    menu: ['crop', 'draw', 'shape', 'icon', 'text'],
                                    initMenu: 'draw',
                                    menuBarPosition: 'right',
                                },
                                {# cssMaxWidth: 1024,
                                cssMaxHeight: 900, #}
                                usageStatistics: false,
                            }
                        );
                        " 
                        class="rounded hover:text-primary-900 hover:bg-primary-50 focus:shadow-focus focus:outline-none focus:shadow-primary-500/30 focus:ring-primary-500/30"
                        title="Edit image">
                    {{display_icon("pencil-outline", class="w-8 h-8 m-2")}}
                </button>
                {% endif %}
                {% if is_not_disabled and field.data %}
                <button jmb-on:click="form.{{field.name}} = null; {{instant_validate_submit}}"
                        class="rounded hover:text-primary-900 hover:bg-primary-50 focus:shadow-focus focus:outline-none focus:shadow-primary-500/30 focus:ring-primary-500/30"
                        title="Delete image">
                    {{display_icon("trash-outline", class="w-8 h-8 m-2")}}
                </button>
                {% endif %}
                {% if field.data %}
                <button jmb-on:click="$scope().enlargedUrl = '{{field.data.url if field.data else ''}}';$scope().showEnlarged=true;$scope().showControls=false" 
                        class="rounded hover:text-primary-900 hover:bg-primary-50 focus:shadow-focus focus:outline-none focus:shadow-primary-500/30 focus:ring-primary-500/30"
                        title="Expand image">
                    {{display_icon("expand-outline", class="w-8 h-8 m-2")}}
                </button>
                {% endif %}
            </div>
        </div>
        {# hidden image input #}
        {{field(**form.attr_kw(render_kw))}}
    </div>
{% endmacro %}