{# M E N U S #}

{# DISPLAY SYSTEM MENU #}
{% macro display_system_menu(menu) %}
    <div jmb-scope="{opened:null, active:null, timeout:null}"
            jmb-on:jembe-update-page.camel.window="$scope().active = null;$updateDom();"
            class="flex flex-col gap-2 pt-4 pb-2 pl-4 pr-2 bg-white border-b border-grey-300 sm:bg-transparent sm:border-none sm:flex-row sm:items-center sm:justify-end sm:h-full sm:gap-2 sm:py-0 sm:pr-2 sm:px-0">
        {% set ns = namespace(topMenuId = none) %}
        {% for mi in menu.get_items() recursive %}
            {% if mi.is_accessible %}
                {% if mi.is_menu %}
                    {% if loop.depth == 1 %}
                        <div jmb-on:mouseleave="if ($scope().opened === '{{mi.id}}') {$scope().timeout=setTimeout(function(){console.log($scope().pened);$scope().opened=null}, 50)}" 
                             jmb-on:click.away="if ($scope().opened === '{{mi.id}}') {$scope().opened=null}"
                             jmb-on:mouseover="clearTimeout($scope().timeout); $scope().opened = '{{mi.id}}'"
                             class="relative my-4 sm:m-0">
                            <button type="button"
                                jmb-on:focus="$scope().opened='{{mi.id}}'"
                                jmb-bind:class="{'sm:!font-semibold': $scope().active === '{{mi.id}}'}"
                                class="block mb-2 text-sm font-light tracking-wider uppercase focus-visible:outline-none sm:mb-0 text-grey-600 sm:tracking-normal sm:font-normal sm:text-base sm:normal-case sm:hover:underline sm:focus-visible:underline">
                                {{mi.get_title()}}
                            </button>
                            <div jmb-cloak 
                                class="sm:absolute sm:right-0 sm:z-50 sm:-mt-2"
                                jmb-bind:class="{'sm:block': $scope().opened === '{{mi.id}}', 'sm:hidden': $scope().opened !== '{{mi.id}}'}">
                                {# arrow on top of dropdown #}
                                <div class="hidden sm:flex sm:justify-end sm:mr-4">
                                    <div class="w-6 overflow-hidden">
                                        <div class="w-4 h-4 origin-bottom-left transform rotate-45 bg-white border border-grey-200"></div>
                                    </div>
                                </div>
                                {# dropdown #}
                                <div class="pl-4 sm:px-4 sm:py-4 sm:-mt-[1px] sm:bg-white sm:border sm:rounded-sm sm:shadow-md sm:border-grey-200 sm:whitespace-nowrap flex flex-col gap-2 sm:min-w-[8rem]">
                                    {% set ns.topMenuId = mi.id %}
                                    {{loop(mi.get_items())}}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="pt-2 text-grey-500">
                            {{mi.get_title()}}
                        </div>
                        <div class="pl-2">
                            {{loop(mi.get_items())}}
                        </div>
                    {% endif %}
                {% else %}
                   {% if loop.depth == 1 %}
                        {% set ns.topMenuId = mi.id %}
                   {% endif %} 
                        {# class="top-menu__link {% if loop.depth > 1 %}top-menu__link--indropdown{% endif %}"> #}
                    <a href="{{mi.url}}" 
                        {% if mi.jrl %}jmb-on:click.prevent="{{mi.jrl}}"{% endif %} 
                        jmb-bind:class="{
                        'font-semibold': 
                            (   
                                {{mi.active_for_exec_names|tojson|forceescape}}.some(function(en){return $jmb.componentsOnPage().includes(en)})
                                || {{mi.active_for_pathnames|tojson|forceescape}}.some(function(pn){return window.location.pathname === pn})
                            ) 
                            {# Add ns.topMenuid to active #}
                            {% if ns.topMenuId is not none -%}
                            && ($scope().active = '{{ns.topMenuId}}')
                            {%- endif %}
                        }"
                        class="block text-grey-600 hover:underline focus-visible:outline-none focus-visible:underline">
                        {{mi.title}} 
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
{% endmacro%}

{# DISPLAY MAIN MENU #}
{% macro display_main_menu(menu) %}
    <div jmb-scope="{active:null}"
            jmb-on:jembe-update-page.camel.window="$scope().active = null; $updateDom();"
            class="flex flex-col h-full gap-2 pt-4 pb-2 pl-4 pr-2">
        {% for mi in menu.get_items() recursive %}
            {% if mi.is_accessible %}
                {% if mi.is_menu %}
                    {% if loop.depth == 1 %}
                        <div class="my-4">
                            <button type="button"
                                class="block mb-2 text-sm font-light tracking-wider uppercase focus-visible:outline-none text-grey-600 ">
                                {{mi.get_title()}}
                            </button>
                            <div class="flex flex-col gap-2 pl-4 ">
                                {{loop(mi.get_items())}}
                            </div>
                        </div>
                    {% else %}
                        <div class="pt-2 text-grey-400">
                            {{mi.get_title()}}
                        </div>
                        <div class="pl-2">
                            {{loop(mi.get_items())}}
                        </div>
                    {% endif %}
                {% else %}
                    <a href="{{mi.url}}" {% if mi.jrl %}jmb-on:click.prevent="{{mi.jrl}}"{% endif %} 
                        jmb-bind:class="{
                        'font-semibold': 
                            (   
                                {{mi.active_for_exec_names|tojson|forceescape}}.some(function(en){return $jmb.componentsOnPage().includes(en)})
                                || {{mi.active_for_pathnames|tojson|forceescape}}.some(function(pn){return window.location.pathname === pn})
                            ) 
                        }"
                        class="block text-grey-600 hover:underline focus-visible:outline-none focus-visible:underline">
                        {{mi.title}} <span jmb-text="$scope().active"></span>
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
{% endmacro%}


{# DISPLAY MENU AS BUTTONS #}
{% macro display_menu_as_buttons(menu, aligh_right=false, size="base")%}
    {# size can be micro, short, base, large #}
{% endmacro%}





{# M O D A L S #}


{#  DISPLAY MODAL #}
{% macro display_modal(component, title=none, menu=none, closable=true, size="base", close_button_title=none)%}
    {# size in small, base, wide, fullscreen #}
    {% set display_header = title is not none or closable %}
    {% set display_footer = menu is not none or (closable and close_button_title is not none)%}

    <div class="fixed inset-0 z-50 bg-opacity-80 bg-grey-900">
        <div class="min-w-[280px] m-auto mt-[5vh]
        {%- if size == 'small' %}
            max-w-[80%] w-[420px]
        {%- elif size == 'base' %}
            max-w-[80%] w-[650px]
        {%- elif size == 'wide' %}
            max-w-[80%] w-4/5
        {%- elif size == 'fullscreen' %}
        {%- endif %}">
            {# header #}
            {% if display_header %}
            <div class="flex items-center justify-between py-1 pl-4 pr-2 text-xl font-light leading-6 rounded-t-sm bg-grey-200">
                <div>{{title|default('', true)}}</div>
                {% if closable %}
                <button jmb-on:click="{%- if component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" type="button" title="Close" class="btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Close</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
                </button>
                {% endif %}
            </div>
            {% endif %}
            {# content #}
            <div class="p-4 bg-grey-50 {% if not display_header %}rounded-t-sm{% endif %} {% if not display_footer %}rounded-b-sm{% endif %}">
                {{caller()}}
            </div>
            {# footer #}
            {% if display_footer %}
            <div class="p-4 rounded-b-sm bg-grey-50">
                {% if menu is not none  %}
                    {% if menu is string() %}
                    {{menu}}
                    {% else %}
                    {{display_menu_as_buttons(menu, aligh_right=true)}}
                    {% endif %}
                {% elif menu is none and closable and close_button_title %}
                    <div class="flex justify-end">
                        <button jmb-on:click="{%- if component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" jmb-on:ready="$self.focus()" type="button" class="btn btn-primary">{{close_button_title}}</button>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}