{# M E N U S #}

{# DISPLAY SYSTEM MENU #}
{% macro display_system_menu(menu, is_right=True) %}
    <div jmb-scope="{opened:null, active:null}"
            jmb-on:jembe-update-page.camel.window="$scope().active = null; $updateDom()"
            style="display:inherit;">
        {% set ns = namespace(topMenuId = none) %}
        {% for mi in menu.items recursive %}
            {% if mi.is_accessible %}
                {% if mi.is_menu %}
                    {% if loop.depth == 1 %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <div class="navbar-link is-arrowless"
                                jmb-bind:class="{'is-active': $scope().active === '{{mi.id}}'}">
                                {{mi.title}}
                            </div>
                            <div class="navbar-dropdown {{'is-right' if is_right else ''}}">
                                {% set ns.topMenuId = mi.id %}
                                {{loop(mi.items)}}
                            </div>
                        </div>
                    {% else %}
                        <hr class="navbar-divider">
                        {{loop(mi.items)}}
                    {% endif %}
                {% else %}
                   {% if loop.depth == 1 %}
                        {% set ns.topMenuId = mi.id %}
                   {% endif %} 
                    <a href="{{mi.url}}" 
                        {% if mi.jrl %}jmb-on:click.prevent="{{mi.jrl}}"{% endif %} 
                        jmb-bind:class="{
                        'font-semibold': 
                            (   
                                {{mi.active_for_exec_names|tojson|forceescape}}.some(function(en){return $jmb.componentsOnPage().includes(en)})
                                || {{mi.active_for_pathnames|tojson|forceescape}}.some(function(pn){return window.location.pathname === pn})
                            ) 
                            {# Add ns.topMenuid to active #}
                            {% if ns.topMenuId is not none -%}
                            && ($scope().active = '{{ns.topMenuId}}')
                            {%- endif %}
                        }"
                        class="navbar-item">
                        {{mi.title}}
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div> 
{% endmacro%}

{# DISPLAY MAIN MENU #}
{% macro display_main_menu(menu) %}
    {{display_system_menu(menu, false)}}
{% endmacro%}

{# DISPLAY MENU AS BUTTONS #}
{% macro display_menu_as_buttons(menu, aligh_right=false, size="base")%}
    {# size can be micro, short, base, large #}
{% endmacro%}





{# M O D A L S #}


{#  DISPLAY MODAL #}
{% macro display_card_modal(component, title=none, menu=none, closable=true, close_button_title=none)%}
    {# size in small, base, wide, fullscreen #}
    {% set display_header = title is not none or closable %}
    {% set display_footer = menu is not none or (closable and close_button_title is not none)%}

    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
        {% if display_header %}
        <header class="modal-card-head">
            <p class="modal-card-title">{{title|default('', ture)}}</p>
            {% if closable %}
            <button jmb-on:click="{%- if component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" class="delete" aria-label="close"></button>
            {% endif %}
        </header>
        {% endif %}
        <section class="modal-card-body">
            {{caller()}}
        </section>
        {% if display_footer %}
        <footer class="modal-card-foot">
            {% if menu is not none  %}
                {% if menu is string() %}
                {{menu}}
                {% else %}
                {{display_menu_as_buttons(menu, aligh_right=true)}}
                {% endif %}
            {% elif menu is none and closable and close_button_title %}
                <button jmb-on:click="cancel()" jmb-on:ready="$self.focus()" class="button">Cancel</button>
            {% endif %}
        </footer>
        {% endif %}
    </div>
{% endmacro %}