{% from 'jembeui/s0/macros__form.html' import form_field %}
{% set form_styling = form.__styling__|default([], true) %}
{% set fields_styling = form.__fields_styling__|default((), true) %}

<div class="{%- if 'full' in form_styling %}
            {%- elif 'xs' in form_styling %}
            max-w-[420px]
            {%- elif 'sm' in form_styling %}
            max-w-screen-sm
            {%- elif 'md' in form_styling %}
            max-w-screen-md
            {%- elif 'lg' in form_styling %}
            max-w-screen-lg
            {%- elif 'xl' in form_styling %}
            max-w-screen-lg
            {%- else %}
            inline-block
            {%- endif %}">
{% set top = namespace(grab_focus = _config.grab_focus_on_display, prev_field_ends_block=false, open_divs = 0) %}
{% for field in form  %}
    {% set render_kw = form.RENDER_KW[field.name] %}
    {% set styling = render_kw.get("_styling", []) %}
    {% set field_is_inline = "inline" in styling %}
    {% set field_starts_block = "block-start" in styling %}
    {% set field_ends_block = "block-end" in styling %}
    {#  TODO filed_starts_inline_block = fields_starts_block and field_is_inline #}



    {% set start_new_field_row = not field_is_inline or loop.first or field_starts_block %}
    {% set start_new_block_row =  field_starts_block  and not field_starts_inline_block %}
    {% set start_new_block =  field_starts_block  %}
    {% set start_by_ending_field_row =  (not field_is_inline and not (field_starts_block and field_starts_inline_block) and not loop.first)  or top.prev_field_ends_block%}
    {% set start_by_ending_block_row =  not field_is_inline and not (field_starts_block and field_starts_inline_block) and top.prev_field_ends_block  %}
    {% set start_by_ending_block =  top.prev_field_ends_block  %}


    {# end field row #}
    {% if start_by_ending_field_row %}
        {% set top.open_divs = top.open_divs - 1 %}
    </div>
    {% endif %}
    {# end block #}
    {% if start_by_ending_block %}
        {% set top.open_divs = top.open_divs - 1 %}
    </div>
    {% endif %}
    {# end block row #}
    {% if start_by_ending_block_row %}
        {% set top.open_divs = top.open_divs - 1 %}
    </div>
    {% endif %}

    {# start block row #}
    {% if start_new_block_row %}
        {% set top.open_divs = top.open_divs + 1 %}
    <div class="flex flex-row items-stretch gap-4">
    {% endif %}
    {# start block #}
    {% if start_new_block%}
        {% set top.open_divs = top.open_divs + 1 %}
        {% set default_block_class = "" if field_is_inline  else "grow basis-0" %}
    <div {{form.attr_kw(form.resolve_kw(render_kw.get('_block', {}),{'class':default_block_class}))|xmlattr}}>
    {% endif %}
    {# start field row #}
    {% if start_new_field_row%}
        {% set top.open_divs = top.open_divs + 1 %}
    <div class="flex flex-row items-stretch gap-4">
    {% endif %}

    {# field #}
    {% if not form.is_disabled and top.grab_focus and (field.render_kw|default({}, true)).get("disabled", none) is none %}
        {% set top.grab_focus = false %}
        {{form_field(form, field, {"jmb-on:ready.once+":"$self.focus();", "_styling+": fields_styling, "_field":{"class+": " mb-2"}})}}
    {% else %}
        {{form_field(form, field, {"_styling+": fields_styling, "_field":{"class+": " mb-2"}})}}
    {% endif %}

    {% set top.prev_field_ends_block = field_ends_block %}

{% endfor %}

{% for i in range(top.open_divs) %}
     </div> 
{% endfor %}
</div>


{# 
Development and explanation of form logic:

- Every field starts new field row except inline field
- Every block starts new block row except inline block
- Every field ends field row except when next field or block is inline
- Every block end ends block row except when next field or block is inline
- First field in Form starts new field row
- First field in Block starts new field row

 <=>

- start new field row when field is not inline and field is first in form or field starts new block
- start new block row when field starts block and block is not inline
- start new block when field starts new block
- start by ending field row when field is not inline and field dont start inline block and field is not first in form
- start by ending block row when field is not inline and field not start inline block and previous field ends block 
- start by ending block when previous field ends block 
#}