{% from "jembeui/s0/macros.html" import 
    display_list_records_as_table, 
    display_list_toolbar, 
    display_menu_as_buttons 
%}
<div>
    <div class="flex items-center justify-between">
    {%- block toolbar %}
        <div>
            {{display_menu_as_buttons(menu, buttons_styling=("micro",))}}
        </div>
        {{display_list_toolbar(_context, display_order_by=false)}}
    {%- endblock toolbar %}
    </div>
    <div class="mt-2">
    {%- block content %}
        {{display_list_records_as_table(_context)}}
    {%- endblock content %}
    </div>
</div>