{% set field_id = "{}--{}".format(exec_name.replace("/","-").replace(".","_"), form_field.name)%}
{% set is_not_disabled = "disabled" not in raw_render_kw %}
{% set render_kw = form.resolve_kw(
    raw_render_kw,
    {
        "id":field_id,
        "class":" ".join(
            [
                "input", 
                "input--error" if form_field.errors else ""
            ]
        ),
        "_field" : {
            "class":"form-field form-field--{}".format(form_field.type.replace('Field', '').lower())
        },
        "jmb-on:change.defer": (
            "form.{fname} = (new Date($self.value)).toISOString(); console.log(form);"
            + (" modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in state else "")
        ).format(form_field.name) if is_not_disabled else none,
        "jmb-on:keydown.enter": "$self.blur();$self.focus();submit()" if is_not_disabled and "submit" in _config.component_actions else none,
        "value": form_field.data|datetimeformat,
    }
)%}
<div {{form.attr_kw(render_kw._field|default({}, true))|xmlattr}}>
    {# {{form_field.data}}<br/>
    {{form_field.data|datetimeformat }}<br/>
    {{jembeui_get_timezone()}}<br/>
    {{jembeui_get_js_datetime_format('datepicker')}}
    {{jembeui_get_js_date_format('datepicker')}}
    {{jembeui_get_js_time_format('datepicker')}} #}
    <div class="form-field__label">
        <label for="{{field_id}}" class="input-label">{{form_field.label.text}}</label>
        <div class="input-info">
        {% if is_not_disabled and not form_field.flags.required %}optional{% endif %}
        {% if form_field.description %}{{description}}{% endif %}
        </div>
    </div>
    {{form_field(**form.attr_kw(render_kw))}}
    {% for error in form_field.errors %}
    <div class="form-field__error">{{error}}</div>
    {% endfor %}
</div>