{% set field_id = "{}--{}".format(exec_name.replace("/","-"), form_field.name)%}
{% set is_not_disabled = "disabled" not in raw_render_kw %}
{% set render_kw = form.resolve_kw(
    raw_render_kw,
    {
        "id":field_id,
        "style": "display:none;",
        "_field" : {
            "class":"form-field form-field--{}".format(form_field.type.replace('Field', '').lower())
        },
        "jmb-on:change": (
            "form.{fname} = $self.files[0];" 
            + (" modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in state else "")
            + (" validate(true);" if "validate" in _config.component_actions else "")
        ).format(fname=form_field.name) if is_not_disabled else none,
        "jmb-on:keydown.enter": "$self.blur();$self.focus();submit();" if is_not_disabled and "submit" in _config.component_actions else none,
    }
)%}
<div {{form.attr_kw(render_kw._field|default({}, true))|xmlattr}} jmb-scope="{showEnlarged: false, showEdit:false, editor:null, imgUrl: ''}">
    <div class="form-field__label">
        <div class="input-label">{{form_field.label.text}}</div>
        <div style="display:flex; align-items:center; gap:8px;">
            <div class="input-info">
                {%- if is_not_disabled and not form_field.flags.required %}optional{% endif %}
                {%- if form_field.description %}{{description}}{% endif %}
            </div>
            <div class="buttons-menu buttons-menu--label-actions">
                {% if is_not_disabled %}
                {% if form_field.data %}
                <button jmb-on:click="form.{{form_field.name}} = null; validate(true);" type="button" class="button button--ghost" title="Remove image">
                    <!-- The Source Code of followint svg is subject to the terms of the Mozilla Public License, v. 2.0. You can obtain MPL at http://mozilla.org/MPL/2.0/. -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M6.5 12a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 0 .5.5zm2 0a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 0 .5.5zm2 0a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 0 .5.5z"></path><path fill="context-fill" d="M14 2h-3.05a2.5 2.5 0 0 0-4.9 0H3a1 1 0 0 0 0 2v9a3 3 0 0 0 3 3h5a3 3 0 0 0 3-3V4a1 1 0 0 0 0-2zM8.5 1a1.489 1.489 0 0 1 1.391 1H7.109A1.489 1.489 0 0 1 8.5 1zM12 13a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4h7z"></path></svg>
                </button>
                {% endif %}
                <label for="{{field_id}}" class="button button--like button--ghost" title="{% if form_field.data %}Upload new image{% else %}Upload image{% endif %}">
                    <!-- The Source Code of followint svg is subject to the terms of the Mozilla Public License, v. 2.0. You can obtain MPL at http://mozilla.org/MPL/2.0/. -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M14 3h-2v2h2v8H2V5h7V3h-.849L6.584 1.538A2 2 0 0 0 5.219 1H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zM2 3h3.219l1.072 1H2z"></path><path fill="context-fill" d="M8.146 6.146a.5.5 0 0 0 0 .707l2 2a.5.5 0 0 0 .707 0l2-2a.5.5 0 1 0-.707-.707L11 7.293V.5a.5.5 0 0 0-1 0v6.793L8.854 6.146a.5.5 0 0 0-.708 0z"></path></svg>
                </label>
                {% if form_field.enable_screenshot %}
                <button jmb-on:click="if (juiCanTakeScreenshot) { juiTakeScreenshot().then( function(files){ if (files){ form.{{form_field.name}}=files[0]; validate(true); $jmb.executeCommands();}})}" class="button button--ghost" title="Capture screenshot">
                    <!-- This Source Code Form is subject to the terms of the Mozilla Public - License, v. 2.0. If a copy of the MPL was not distributed with this - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M4 0a2 2 0 0 0-2 2h2zm6 0H8v2h2zm4 0v2h2a2 2 0 0 0-2-2zM7 0H5v2h2zm6 0h-2v2h2zm1 5h2V3h-2zm0 6a2 2 0 0 0 2-2h-2zm0-3h2V6h-2zm-.441-2.167a2 2 0 0 0-2.785-.492L6.939 8.172l-1.968-1.38A2.457 2.457 0 0 0 5 6.5a2.488 2.488 0 0 0-1-1.989V3H2v1.05a2.5 2.5 0 1 0 1.958 4.474l1.242.869-1.4.982A2.494 2.494 0 1 0 5 12.5a2.508 2.508 0 0 0-.05-.492zM2.5 7.75A1.25 1.25 0 1 1 3.75 6.5 1.25 1.25 0 0 1 2.5 7.75zm0 6a1.25 1.25 0 1 1 1.25-1.25 1.25 1.25 0 0 1-1.25 1.25zm5.4-2.429l3.017 2.3a2 2 0 0 0 2.785-.492L9.64 10.1z"></path></svg>
                </button>
                {% endif %}
                {% endif %}
                {% if form_field.data and form_field.enable_image_edit %}
                <button jmb-on:click="
                    $scope().showEdit = true;
                    $scope().editor = new tui.ImageEditor(
                        document.querySelector('#{{field_id}}-editor'),
                        {
                            includeUI: {
                                loadImage: {
                                    path:'{{form_field.data.url}}',
                                    name: 'Edit image',
                                },
                                theme: {
                                    'header.display': 'none',
                                },
                                menu: ['crop', 'draw', 'shape', 'icon', 'text'],
                                initMenu: 'draw',
                            },
                            {# cssMaxWidth: 1024,
                            cssMaxHeight: 1024, #}
                            usageStatistics: false,
                        }
                    );
                    " class="button button--ghost" title="Edit image">
                    <!-- This Source Code Form is subject to the terms of the Mozilla Public
                    - License, v. 2.0. If a copy of the MPL was not distributed with this
                    - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M14.354 2.353l-.708-.707a2.007 2.007 0 0 0-2.828 0l-.379.379a.5.5 0 0 0 0 .707l2.829 2.829a.5.5 0 0 0 .707 0l.379-.379a2.008 2.008 0 0 0 0-2.829zM9.732 3.439a.5.5 0 0 0-.707 0L3.246 9.218a1.986 1.986 0 0 0-.452.712l-1.756 4.39A.5.5 0 0 0 1.5 15a.5.5 0 0 0 .188-.037l4.382-1.752a1.966 1.966 0 0 0 .716-.454l5.779-5.778a.5.5 0 0 0 0-.707zM5.161 12.5l-2.549 1.02a.1.1 0 0 1-.13-.13L3.5 10.831a.1.1 0 0 1 .16-.031l1.54 1.535a.1.1 0 0 1-.039.165z"></path></svg>
                </button> 
                {% endif %}
                {% if form_field.data %}
                <button jmb-on:click="$scope().imgUrl = '{{form_field.data.url if form_field.data else ''}}';$scope().showEnlarged=true;" class="button button--ghost" title="Enlarge image">
                    <!-- The Source Code of followint svg is subject to the terms of the Mozilla Public License, v. 2.0. You can obtain MPL at http://mozilla.org/MPL/2.0/. -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M7.707 8.293a1 1 0 0 0-1.414 0L3 11.586V9a1 1 0 0 0-2 0v5a1 1 0 0 0 1 1h5a1 1 0 1 0 0-2H4.414l3.293-3.293a1 1 0 0 0 0-1.414zM14 1H9a1 1 0 0 0 0 2h2.586L8.293 6.293a1 1 0 1 0 1.414 1.414L13 4.414V7a1 1 0 0 0 2 0V2a1 1 0 0 0-1-1z"></path></svg>
                </button> 
                {% endif %}
            </div>
        </div>
    </div>
    <div class="image-input {{"input--error" if form_field.errors else ""}}" >
        <div class="image-input__thumbnail" style="height: {{form_field.thumbnail_size[1]}}px; {%if is_not_disabled and not form_field.data%} display:flex; justify-content:center; align-items:center;{%endif%}">
            {% if form_field.data %}
            <img src="{{form_field.thumbnail().url}}" alt="{{form_field.data.basename}} thumbnail" style="max-height: {{form_field.thumbnail_size[1]}}px;">
            {% elif is_not_disabled %}
                <div style="margin:auto">
                <label for="{{field_id}}" class="button button--like button--ghost" style="width:64px; height:64px; padding:18px; color: var(--grey-40)" title="Upload image">
                    <!-- The Source Code of followint svg is subject to the terms of the Mozilla Public License, v. 2.0. You can obtain MPL at http://mozilla.org/MPL/2.0/. -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16" style="width: 32px; height:32px"><path fill="context-fill" d="M14 3h-2v2h2v8H2V5h7V3h-.849L6.584 1.538A2 2 0 0 0 5.219 1H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zM2 3h3.219l1.072 1H2z"></path><path fill="context-fill" d="M8.146 6.146a.5.5 0 0 0 0 .707l2 2a.5.5 0 0 0 .707 0l2-2a.5.5 0 1 0-.707-.707L11 7.293V.5a.5.5 0 0 0-1 0v6.793L8.854 6.146a.5.5 0 0 0-.708 0z"></path></svg>
                </label>
                {% if form_field.enable_screenshot %}
                <button jmb-on:click="if (juiCanTakeScreenshot) { 
                        juiTakeScreenshot().then( 
                            function(files) { 
                                if (files){ 
                                    form.{{form_field.name}}=files[0]; 
                                    validate(true); 
                                    $jmb.executeCommands();
                                }
                            }
                        )
                    }"
                    class="button button--ghost" title="Capture screenshot" style="width:64px; height:64px; padding:18px; color: var(--grey-40)">
                    <!-- This Source Code Form is subject to the terms of the Mozilla Public - License, v. 2.0. If a copy of the MPL was not distributed with this - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16" style="width: 32px; height:32px"><path fill="context-fill" d="M4 0a2 2 0 0 0-2 2h2zm6 0H8v2h2zm4 0v2h2a2 2 0 0 0-2-2zM7 0H5v2h2zm6 0h-2v2h2zm1 5h2V3h-2zm0 6a2 2 0 0 0 2-2h-2zm0-3h2V6h-2zm-.441-2.167a2 2 0 0 0-2.785-.492L6.939 8.172l-1.968-1.38A2.457 2.457 0 0 0 5 6.5a2.488 2.488 0 0 0-1-1.989V3H2v1.05a2.5 2.5 0 1 0 1.958 4.474l1.242.869-1.4.982A2.494 2.494 0 1 0 5 12.5a2.508 2.508 0 0 0-.05-.492zM2.5 7.75A1.25 1.25 0 1 1 3.75 6.5 1.25 1.25 0 0 1 2.5 7.75zm0 6a1.25 1.25 0 1 1 1.25-1.25 1.25 1.25 0 0 1-1.25 1.25zm5.4-2.429l3.017 2.3a2 2 0 0 0 2.785-.492L9.64 10.1z"></path></svg>
                </button> 
                {% endif %}
                </div>
            {% endif %}
        </div>
        {% if form_field.data %}
        <div jmb-show="$scope().showEnlarged" jmb-cloak class="image-input__enlarged">
            <button jmb-on:click="$scope().showEnlarged=false" class="button button--ghost button--close">
                <!-- The Source Code of followint svg is subject to the terms of the Mozilla Public License, v. 2.0. You can obtain MPL at http://mozilla.org/MPL/2.0/. -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M9.061 8l3.47-3.47a.75.75 0 0 0-1.061-1.06L8 6.939 4.53 3.47a.75.75 0 1 0-1.06 1.06L6.939 8 3.47 11.47a.75.75 0 1 0 1.06 1.06L8 9.061l3.47 3.47a.75.75 0 0 0 1.06-1.061z"></path></svg>
            </button>
            <img jmb-bind:src="$scope().imgUrl" alt="{{form_field.data.basename}}">
        </div>
        {% endif %}
        {% if form_field.data and form_field.enable_image_edit %}
        <div jmb-show="$scope().showEdit" jmb-cloak class="image-input__edit">
            <div class="buttons-menu buttons-menu--modal">
                <button jmb-on:click="
                    juiSaveTuiImage($scope().editor).then(function(files){
                                    form.{{form_field.name}}=files[0]; 
                                    validate(true); 
                                    $jmb.executeCommands();
                                    $scope().editor.destroy(); 
                                    $scope().imgUrl = '';
                                    $scope().showEdit=false;
                    })" type="button" class="button button--primary">Apply</button>
                <button jmb-on:click="$scope().editor.destroy(); $scope().showEdit=false;" type="button" class="button button--grey">Cancel</button>
            </div>
            <div id="{{field_id}}-editor" class="image-input__edit__editor"></div>
        </div>
        {% endif %}
        {{form_field(**form.attr_kw(render_kw))}}
    </div>
    {% for error in form_field.errors %}
    <div class="form-field__error">{{error}}</div>
    {% endfor %}
</div>