{% set field_id = "{}--{}".format(exec_name.replace("/","-"), form_field.name)%}
{% set is_not_disabled = "disabled" not in raw_render_kw %}
{% set render_kw = form.resolve_kw(
    raw_render_kw,
    {
        "id":field_id,
        "class":" ".join(
            [
                "input", 
                form_field.widget.__class__.__name__|jembeui_camel_to_snake|replace("_","-"),  
                "input--error" if form_field.errors else ""
            ]
        ),
        "_field" : {
            "class":"form-field form-field--{}".format(form_field.type.replace('Field', '').lower())
        },
        "jmb-on:change": (
            "form.{fname} = $self.files[0];" 
            + (" modified_fields.indexOf('{fname}') === -1 && modified_fields.push('{fname}');" if "modified_fields" in state else "")
            + (" validate(true);" if "validate" in _config.component_actions else "")
        ).format(fname=form_field.name) if is_not_disabled else none,
        "jmb-on:keydown.enter.ctrl": "$self.blur();$self.focus();submit();" if is_not_disabled and "submit" in _config.component_actions else none,
    }
)%}
<div {{form.attr_kw(render_kw._field|default({}, true))|xmlattr}}>
    <div class="form-field__label">
        <label for="{{field_id}}" class="input-label">{{form_field.label.text}}</label>
        <div class="input-info">
        {% if is_not_disabled and not form_field.flags.required %}optional{% endif %}
        {% if form_field.description %}{{description}}{% endif %}
        </div>
    </div>
    <div class="image-input">
        <a href="{{form_field.data.url}}" target="_blank">view</a> 
        <img src="{{form_field.thumbnail().url}}" alt="{{form_field.data.basename}} thumbnail">
        {{form_field.data.basename}}
        {{form_field(**form.attr_kw(render_kw))}}
    </div>
    {% for error in form_field.errors %}
    <div class="form-field__error">{{error}}</div>
    {% endfor %}
</div>