@charset "utf-8";
@import "node_modules/bulma/bulma.sass";

.notifications {
    bottom: 0;
    right: 0;
    position: absolute;
}
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffff;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}
.loader-wrapper .loader {
    height: 80px;
    width: 80px;
}

.loader-wrapper.is-active {
    opacity: 0.8;
    z-index: 1000;
}
/* breadcrumb */
.breadcrumb span {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 .75em;
}
.breadcrumb li:first-child span {
    padding-left: 0;
}