<div 
    jmb-local="{
        focusedOptionId: null,
        selectOption: function($context, $dispatch, optionId) {
            $context.selected.indexOf(optionId) === -1 && $context.selected.push(optionId);
            $dispatch('select-option-changed',{selected:$context.selected});
        },
        focusNext: function ($context) {
            if ($context.$local.focusedOptionId === null) {
                return
            }
            selOption = $context.$el.querySelector('[option-id=\'' + $context.$local.focusedOptionId + '\']')
            nextOption = selOption.nextElementSibling
            if (nextOption === null) {
                nextOption = $context.$el.querySelector('[option-id]');
                if (nextOption === null ) {return}
            }
            $context.$local.focusedOptionId = nextOption.getAttribute('option-id');
            nextOption.scrollIntoViewIfNeeded()
        },
        focusPrev: function ($context) {
            if ($context.$local.focusedOptionId === null) {
                return
            }
            selOption = $context.$el.querySelector('[option-id=\'' + $context.$local.focusedOptionId + '\']')
            prevOption = selOption.previousElementSibling
            if (prevOption === null) {
                prevOption = $context.$el.querySelector('[option-id]:last-of-type');
                if (prevOption === null ) {return}
            }
            $context.$local.focusedOptionId = prevOption.getAttribute('option-id');
            prevOption.scrollIntoViewIfNeeded()
        }
        {#
        ,
        focusNextPage: function ($context) {
            if ($context.$local.focusedOptionId === null) {
                return
            }
            selOption = $context.$el.querySelector('[option-id=\'' + $context.$local.focusedOptionId + '\']');
            movePlaces = 8;
            while (movePlaces > 0 && selOption.nextElementSibling !== null) {
                selOption = selOption.nextElementSibling;
                movePlaces = movePlaces - 1;
            }
            $context.$local.focusedOptionId = selOption.getAttribute('option-id');
            selOption.scrollIntoViewIfNeeded()
        },
        focusPrevPage: function ($context) {
            if ($context.$local.focusedOptionId === null) {
                return
            }
            selOption = $context.$el.querySelector('[option-id=\'' + $context.$local.focusedOptionId + '\']')
            movePlaces = 8;
            while (movePlaces > 0 && selOption.previousElementSibling !== null) {
                selOption = selOption.previousElementSibling;
                movePlaces = movePlaces - 1;
            }
            $context.$local.focusedOptionId = selOption.getAttribute('option-id');
            selOption.scrollIntoViewIfNeeded()
        } #}
    }" 
    jmb-update="function () {
        this.$local.focusedOptionId = {{ "'{}'".format(choices[0][0]) if choices else 'null'}};
    }"
    class="form-field__select-multiple-search">
    {% if selected_choices %}
    <div class="form-field__select-multiple-search__selected--container">
    {% for choice in selected_choices  %}
        <div class="form-field__select-multiple-search__selected {{loop.cycle('form-field__select-multiple-search__selected--even','form-field__select-multiple-search__selected--odd')}}">
            <div>
                {% if has_view_component %}
                <a jmb-on:click.prevent.stop="{{component('view', id=choice[0]).jrl}}" href="{{component().url}}">
                    {{choice[1]}}
                </a>
                {% elif not has_view_component and has_update_component %}
                    <a jmb-on:click.prevent.stop="{{component('update', id=choice[0]).jrl}}" href="{{component().url}}">
                        {{choice[1]}}
                    </a>
                {% else %}
                    {{choice[1]}}
                {% endif %}
            </div>
            {% if has_update_component and has_view_component and _config.display_update_link %}
                <button jmb-on:click.prevent.stop="{{component('update', id=choice[0]).jrl}}" href="{{component().url}}" type="button" class="button button--ghost">
                    <img src="{{url_for('jembeui.static', filename='/jembeui/s0/icons/edit-16-grey-90-a80.svg')}}" alt="edit">
                </button>
            {% endif %}
            {% if not is_disabled %}
            <button jmb-on:click="selected = selected.filter(function(item){ return item !='{{choice[0]}}'});$dispatch('select-option-changed',{selected:selected});" type="button" class="button button--ghost">
                <img src="{{url_for('jembeui.static', filename='/jembeui/s0/icons/stop-16-grey-90-a80.svg')}}" alt="remove">
            </button>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    {% elif is_disabled %}
    <div class="form-field__select-multiple-search__selected--container"></div>
    {% endif %}

    {% if not is_disabled %}
    <div 
        {% if search is none or choices%}
        jmb-on:focusin.document="if (search !== null && !$self.contains(document.activeElement)){search=null}" 
        jmb-on:click.away="search=null;" 
        {# jmb-on:mouseleave="search=null"  #}
        {%endif%}>
        <div style="display:flex; align-items:center;">
            <input 
            {% if search == "" and not choices %} 
                disabled 
            {% else %}
                value="{{search|default('', true)}}"
                jmb-on:input.debounce="search=$self.value"  
                jmb-on:focus="if (search === null) {search=''}" 
                {# jmb-on:mouseenter="if (search===null) {search=''}"  #}
                {% if search is not none%}jmb-on:ready="$self.focus()"{%endif%}
                jmb-on:keydown.arrow-down.prevent="$local.focusNext($context)" 
                jmb-on:keydown.arrow-up.prevent="$local.focusPrev($context)" 
                {# jmb-on:keydown.page-down.prevent="$local.focusNextPage($context)" 
                jmb-on:keydown.page-up.prevent="$local.focusPrevPage($context)"  #}
                jmb-on:keydown.enter.prevent="$local.focusedOptionId !== null && $local.selectOption($context, $dispatch, $local.focusedOptionId)" 
                jmb-on:keydown.enter.ctrl.prevent="$dispatch('select-option-submit')" 
            {%endif%} 
            placeholder="Search ..."
            type="text" 
            class="input text-input input--icon input--icon--arrowhead-down form-field__select-multiple__search-input "
            style="flex-grow:1;">
            {% if has_create_component %}
            <button type="button" class="button button--ghost"
                jmb-on:click.stop.prevent="{{component('create').jrl}}">
                <img src="{{url_for('jembeui.static', filename='/jembeui/s0/icons/new-16-grey-90-a80.svg')}}" alt="create">
            </button>
            
            {% endif %}
        </div>

        {% if search is not none and choices %}
        <div class="form-field__select-multiple-search__dropdown">
            <div class="form-field__select-multiple-search__dropdown__items">
            {% for choice in  choices %}
            <button jmb-on:click="$local.selectOption($context, $dispatch, '{{choice[0]}}')" type="button" class="form-field__select-multiple-search__dropdown__item {{loop.cycle('even','odd')}}"
            tabindex="-1"
            jmb-on:mouseover="$local.focusedOptionId='{{choice[0]}}'"
            jmb-bind:class="{focused: $local.focusedOptionId === '{{choice[0]}}'}"
            option-id='{{choice[0]}}'>{{choice[1]}}</button>
            {# {%else%}
            <div class="form-field__select-multiple-search__dropdown__item even no-more">
                No more choices
            </div> #}
            {% endfor %}
            </div>
            {% if choices|length != choices_count %}
            <div class="form-field__select-multiple-search__dropdown__item more-choices-avaiable">
                More choices avaiable using search.
            </div>
            {% endif %}
        
        </div>
        {% endif %}
    </div>
    {% endif %}

    {{placeholder("view")}}
    {{placeholder("update")}}
    {{placeholder("create")}}
</div>