{% if confirmation %}
<div class="dialog">
    <div>
        {% if confirmation.title %}
        <div class="head">
            <div jmb-ref="title">{{confirmation.title}}</div>
            <button jmb-on:click="cancel()" type="button" title="Close">X</button>
        </div>
        {% endif %}
        {% if confirmation.question %}
        <div class="content">{{confirmation.question}}</div>
        {% endif %}
        <div class="footer">
            <button jmb-on:click="cancel()" type="button" class="button">Cancel</button>
            <button jmb-on:click="confirm()" jmb-on:ready="$self.focus()" type="button" class="button button--primary">OK</button>
        </div>
    </div>
</div>
{% endif %}