<div>
{% if bitems|length > 1  or (bitems|length == 1 and not bitems[0].is_hidden )%}
<div class="flex flex-row items-center gap-1 mt-2 text-sm flex-nowrap">
    {% for bitem in bitems %}
        {% if not bitem.is_hidden %}
            {% if bitem.url and not loop.last %}
                <a href="{{bitem.url}}" {% if bitem.jrl %}jmb-on:click.prevent="{{bitem.jrl}}"{% endif %} class="block href visited:text-primary-800">{{bitem.title}}</a>
            {% else %}
                <div>{{bitem.title}}</div>
            {% endif %}
            {% if not loop.last %}
                <svg class="block w-3 h-3" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Chevron Forward</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
</div>