{% from "jembeui/s0/macros.html" import display_icon %}
<div>
{% if bitems|length > 1  or (bitems|length == 1 and not bitems[0].is_hidden )%}
<div class="flex flex-row flex-wrap items-center gap-1 mt-2 text-sm whitespace-nowrap">
    {% for bitem in bitems %}
        {% if not bitem.is_hidden %}
            {% if bitem.url and not loop.last %}
                <a href="{{bitem.url}}" {% if bitem.jrl %}jmb-on:click.prevent="{{bitem.jrl}}"{% endif %} class="block href visited:text-primary-800">{{bitem.title}}</a>
            {% else %}
                <div>{{bitem.title}}</div>
            {% endif %}
            {% if not loop.last %}
                {{display_icon("chevron-forward-outline", class="w-3 h-3")}}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
</div>