<div class="pointer-events-auto">
{% for noteId, note in notifications.items() %}
    <div class="z-50 relative w-auto gap-2 rounded min-h-[2rem] leading-5 flex items-center mb-1 px-4 shadow
        {%- if note.level == 'info' %}
        bg-grey-300 text-grey-900
        {%- elif note.level == 'success' %}
        bg-success-300 text-success-900
        {%- elif note.level == 'warn' %}
        bg-warn-100 text-warn-900
        {%- elif note.level == 'error' %}
        bg-error-200 text-error-900
        {%- endif %}" 
        {% if note.level != "error" %}
        jmb-on:ready.delay-{{noteId}}.2000ms.defer="notifications['{{noteId}}'] = {};$self.remove();"
        {% endif %}>
            {% if note.level == "info" %}
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512"><title>Information</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="40" d="M196 220h64v172"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="40" d="M187 396h138"/><path d="M256 160a32 32 0 1132-32 32 32 0 01-32 32z"/></svg>
            {% elif note.level == "success" %}
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512"><title>Checkmark</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M416 128L192 384l-96-96"/></svg>
            {% elif note.level == "warn" %}
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512"><title>Alert</title><path d="M256 80c-8.66 0-16.58 7.36-16 16l8 216a8 8 0 008 8h0a8 8 0 008-8l8-216c.58-8.64-7.34-16-16-16z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="256" cy="416" r="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
            {% elif note.level == "error" %}
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512"><title>Bug</title><path d="M370 378c28.89 23.52 46 46.07 46 86M142 378c-28.89 23.52-46 46.06-46 86M384 208c28.89-23.52 32-56.07 32-96M128 206c-28.89-23.52-32-54.06-32-94M464 288.13h-80M128 288.13H48M256 192v256" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M256 448h0c-70.4 0-128-57.6-128-128v-96.07c0-65.07 57.6-96 128-96h0c70.4 0 128 25.6 128 96V320c0 70.4-57.6 128-128 128z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path d="M179.43 143.52a49.08 49.08 0 01-3.43-15.73A80 80 0 01255.79 48h.42A80 80 0 01336 127.79a41.91 41.91 0 01-3.12 14.3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
            {% endif %}
            <div class="grow basis-0">{{note.message}}</div>
            {% if note.level == "error" %}
            <button jmb-on:click.defer="notifications['{{noteId}}'] = {};$self.parentElement.remove();" type="button" class="block rounded shrink-0 hover:bg-grey-300 hover:bg-opacity-70 focus-visible:outline-none focus-visible:shadow-focus focus-visible:shadow-grey-300">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Close</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
            </button>
            {% endif %}
    </div>
{% endfor %}
</div>