<div>
{% for noteId, note in notifications.items() %}
    {% if note.level in ("info", "success") %}
    <div class="page-notification {{note.level}}" 
            jmb-on:ready.delay-{{noteId}}.2000ms="notifications['{{noteId}}'] = null;$self.remove();">
            <div>{{note.message}}</div>
    </div>
    {% else %}
    <div class="page-notification {{note.level}}" >
        <div>{{note.message}}</div>
        <button jmb-on:click="notifications['{{noteId}}'] = null;$self.remove();" type="button">X</button>
    </div>
    {% endif %}
{% endfor %}
</div>
