{% from "jembeui/s0/macros.html" import display_icon %}
<div class="pointer-events-auto">
{% for noteId, note in notifications.items() %}
    <div class="z-50 relative w-auto gap-2 rounded min-h-[2rem] leading-6 flex items-center mb-1 px-4 py-2 shadow
        {%- if note.level == 'info' %}
        bg-grey-300 text-grey-900
        {%- elif note.level == 'success' %}
        bg-success-300 text-success-900
        {%- elif note.level == 'warn' %}
        bg-warn-100 text-warn-900
        {%- elif note.level == 'error' %}
        bg-error-200 text-error-900
        {%- endif %}" 
        {% if note.level != "error" %}
        jmb-on:ready.delay-{{noteId}}.2000ms.defer="notifications['{{noteId}}'] = {};$self.remove();"
        {% endif %}>
            {% if note.level == "info" %}
            {{display_icon("information-outline", class="w-5 h-5")}}
            {% elif note.level == "success" %}
            {{display_icon("checkmark-outline", class="w-5 h-5")}}
            {% elif note.level == "warn" %}
            {{display_icon("alert-outline", class="w-5 h-5")}}
            {% elif note.level == "error" %}
            {{display_icon("bug-outline", class="w-5 h-5")}}
            {% endif %}
            <div class="grow basis-0">{{note.message}}</div>
            {% if note.level == "error" %}
            <button jmb-on:click.defer="notifications['{{noteId}}'] = {};$self.parentElement.remove();" type="button" class="block rounded shrink-0 hover:bg-grey-300 hover:bg-opacity-70 focus-visible:outline-none focus-visible:shadow-focus focus-visible:shadow-grey-300">
                {{display_icon("close-outline", class="w-6 h-6")}}
            </button>
            {% endif %}
    </div>
{% endfor %}
</div>