<!DOCTYPE html>
<html lang="en" jmb-local="{mainMenuOpen:false}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{component("__title")}}
    {# seo tag + description #}
    {%- block page_head_css %}
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/css/main.css')}}">
    {%- endblock page_head_css %}
    {%- block page_head_font %}
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/css/fira-sans.css')}}">
    {%- endblock page_head_font %}
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/css/datepicker.css')}}">
    {%- if _config.enable_image_edit_support -%}
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-color-picker.min.css')}}">
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-image-editor.min.css')}}">
    {%- endif %}
    {%- block page_head %}
    {%- endblock page_head %}
</head>

<body class="m-0 box-border bg-grey-100 text-grey-900 [font-kerning:normal]"
      jmb-on:jembe-update-page.camel.window="$self.classList.remove('overflow-hidden');if (document.querySelector('[jui-show-modal]')){$self.classList.add('overflow-hidden')}"
      jmb-on:jui-show-modal="$self.classList.remove('overflow-hidden');if (document.querySelector('[jui-show-modal]')){$self.classList.add('overflow-hidden')}">
    <div class="absolute inset-0 z-50 pointer-events-none" 
        jmb-on:resize.window="$self.setAttribute('style', 'height:'+document.body.scrollHeight+'px;')"
        jmb-on:jembe-update-page.camel.window="$self.setAttribute('style', 'height:'+document.body.scrollHeight+'px;')"
        jmb-on:ready.once="$self.setAttribute('style', 'height:'+document.body.scrollHeight+'px;')">
        <div class="box-border flex flex-row-reverse h-full max-w-screen-xl m-auto pt-14">
            <div class="sticky self-start top-14 max-w-[90%] sm:max-w-[33%]">
                {{component("__notifications")}}
            </div>
        </div>
    </div>
    <div class="m-auto max-w-screen-xl min-h-[100vh] flex flex-col">
        {# Update indicator #}
        {{component("__update_indicator")}}

        {# GRID Page layout #}
        <div class="flex-grow grid grid-cols-1 grid-rows-[auto_auto_auto_1fr] sm:grid-cols-[minmax(100px,_25%)_minmax(0,1fr)] sm:grid-rows-[_auto_1fr] "
            jmb-bind:class="{'grid-rows-[auto_1fr]': ! $local.mainMenuOpen}">
            {# Title and open menu button #}
            <div class="sticky top-0 z-40 flex flex-row-reverse items-center justify-between gap-2 px-2 pt-1 border-b sm:justify-start sm:flex-row sm:pl-1 border-b-grey-300 sm:pr-4 bg-grey-100 opacity-95">
                {# Open close main menu #}
                <button class="btn-ghost w-7 h-7
                               {%- if '__main_menu' not in _config.components or component('__main_menu').component_instance.is_empty() %} sm:hidden{% endif %}" 
                        type="button" 
                        jmb-ref="menuButton"
                        jmb-on:click="$local.mainMenuOpen = ! $local.mainMenuOpen;">
                        <svg jmb-show="! $local.mainMenuOpen" class="text-brand-900" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Menu</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/></svg>
                        <svg jmb-cloak jmb-show="$local.mainMenuOpen" class="text-brand-900" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Close</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
                </button>
                {# Application title #}
                {% block app_title -%}
                <a href="{{url_for('index')}}" class="text-3xl font-light leading-10 tracking-tighter text-brand-900 hover:underline focus-visible:underline focus-visible:outline-none">{{title}}</a>
                {%- endblock app_title %}
            </div>

            {# Main menu #}
            {% if "__main_menu" in _config.components and not component("__main_menu").component_instance.is_empty() %}
            <div jmb-cloak jmb-bind:class="{'hidden': ! $local.mainMenuOpen}" class="bg-white sm:row-start-2 sm:border-r sm:border-r-grey-200">
            {% block main_menu -%}
                <div class="sm:sticky sm:top-11"
                     jmb-on:click="if (window.innerWidth < 640 && ($event.target.closest('a') !== null || $event.target.closest('button') !== null)) {$local.mainMenuOpen=false}">
                    {{component("__main_menu")}}
                </div>
            {%- endblock main_menu %}
            </div>
            {% endif %} 

            {# System menu #}
            <div class="pb-2 bg-white border-b sm:bg-grey-100 sm:z-40 sm:row-start-1 sm:col-start-2 sm:block border-b-grey-300 sm:pb-0 sm:opacity-95 sm:sticky sm:top-0 sm:pt-1"
                jmb-cloak
                jmb-bind:class="{'hidden': ! $local.mainMenuOpen}"
                jmb-on:click="if (window.innerWidth < 640 && ($event.target.closest('a') !== null || $event.target.closest('button') !== null)) {$local.mainMenuOpen=false}">
            {% block system_menu -%}
                {% if "__system_menu" in _config.components %}
                {{component("__system_menu")}}
                {% endif %}
            {%- endblock system_menu %}
            </div>

            <div class="px-2" jmb-bind:class="{'sm:col-span-2': ! $local.mainMenuOpen}">
                {# Bradcrumb #}
                {% if "__breadcrumb" in _config.components %}
                {{component("__breadcrumb")}}
                {% endif %}

                {# Content #}
                {% block content %}{% endblock content %}
            </div>
        </div>

        {# Footer #}
        <div class="h-4">
        {% block footer -%}
            <div class="text-xs font-light text-center text-grey-700">
            {% block footer_text %}
            Build with <a href="https://jembe.io" class="href" target="blank">jembe.io</a>
            {% endblock footer_text %}
            </div>
        {%- endblock footer %}
        </div>
    </div>

    {{component("__syserror")}}
    {{component("__notice")}}
    {{component("__action_confirmation")}}

    <script src="{{ url_for('jembe.static', filename='js/jembe.js') }}" defer></script>
    <script defer>
    window.addEventListener('DOMContentLoaded', function(event){
        window.jembeClient.addXRequestHeaderGenerator(function () {
            return {'X-CSRFToken': window.jembeClient.getCookie("_csrf_token")};
        })
    })
    </script> 
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/js/datepicker-full.min.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/js/i18n.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/js/image-field.js')}}"></script>
    {% with locale_code = jembeui_get_locale_code('-') %}
    {% if locale_code != 'en' %}
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/js/datepicker-locales/{}.js'.format(locale_code))}}"></script>
    {% endif %} 
    {% if _config.enable_image_edit_support -%}
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/tui/fabric.min.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-code-snippet.min.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-color-picker.min.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-image-editor.min.js')}}"></script>
    {%- endif %}
    {% endwith %}
</body>
</html>