{# does not extend page_base in order to:
    - keep block naming consistent
    - be able to fully integrate _notifications, _update_indicator etc components in 
      new page layout
 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{component("_title")}}
    {# seo tag + description #}
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/css/main.css')}}">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
</head>
<body>
    <div class="page-layout">
        <div class="page-layout__top">
            {{component("_update_indicator")}}
        </div>
        <div class="page-layout__header">
            <div class="page-layout__header__title">
                <a href="{{url_for('index')}}">{{title}}</a></div>
            <div class="page-layout__header__menu">
                {{component("_system_menu")}}
            </div>
        </div>
        <div class="page-layout__main">
            <div class="page-layout__main__menu">
                {{component("_main_menu")}}
            </div>
            <div class="page-layout__main__content">
                {{component("_notifications")}}
                {{component("_breadcrumb")}}
                {% block page_content %}{% endblock page_content %}
            </div>
        </div>
    </div>

    {{component("_syserror")}}
    {{component("_action_confirmation")}}
    <script src="{{ url_for('jembe.static', filename='js/jembe.js') }}" defer></script>
    <script defer>
    window.addEventListener('DOMContentLoaded', function(event){
        window.jembeClient.addXRequestHeaderGenerator(function () {
            return {'X-CSRFToken': window.jembeClient.getCookie("_csrf_token")};
        })
    })
    </script> 
</body>
</html>