{# does not extend page_clean in order to:
    - keep block naming consistent
    - be able to fully integrate _notifications, _update_indicator etc components in 
      new page layout
 #}
<!DOCTYPE html>
<html lang="en" jmb-local="{mainMenuOpen:false}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{component("_title")}}
    {# seo tag + description #}
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/css/main.css')}}">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/css/datepicker.css')}}">
    {% if _config.enable_image_edit_support -%}
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-color-picker.min.css')}}">
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-image-editor.min.css')}}">
    {%- endif %}
    {% block page_head %}{% endblock page_head %}
</head>
<body>
    <div class="page-layout__notifications">
        <div class="page-layout__notifications--width">
            <div class="page-layout__notifications--right">
                {{component("_notifications")}}
            </div>
        </div>
    </div>
    <div class="page-layout">
        <div class="page-layout__top">
            {{component("_update_indicator")}}
        </div>
        <div class="page-layout__header">
            <div class="page-layout__header__title">
                {% if "_main_menu" in _config.components and not component("_main_menu").component_instance.is_empty() %}
                <button class="button button--ghost" type="button" 
                        jmb-ref="menuButton"
                        jmb-on:click="$local.mainMenuOpen = ! $local.mainMenuOpen;">

                        <!-- This Source Code Form is subject to the terms of the Mozilla Public
                        - License, v. 2.0. If a copy of the MPL was not distributed with this
                        - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
                        <svg jmb-cloak jmb-show="! $local.mainMenuOpen" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M3 4h10a1 1 0 0 0 0-2H3a1 1 0 0 0 0 2zm10 3H3a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2zm0 5H3a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2z"></path></svg>

                        <!-- This Source Code Form is subject to the terms of the Mozilla Public
                        - License, v. 2.0. If a copy of the MPL was not distributed with this
                        - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
                        <svg jmb-cloak jmb-show="$local.mainMenuOpen"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M9.061 8l3.47-3.47a.75.75 0 0 0-1.061-1.06L8 6.939 4.53 3.47a.75.75 0 1 0-1.06 1.06L6.939 8 3.47 11.47a.75.75 0 1 0 1.06 1.06L8 9.061l3.47 3.47a.75.75 0 0 0 1.06-1.061z"></path></svg>
                </button>
                {% endif %}
                <a href="{{url_for('index')}}">{{title}}</a></div>
            <div class="page-layout__header__menu">
                {% if "_system_menu" in _config.components %}
                {{component("_system_menu")}}
                {% endif %}
            </div>
        </div>
        <div class="page-layout__main">
            {% if "_main_menu" in _config.components and not component("_main_menu").component_instance.is_empty() %}
            <div jmb-cloak jmb-show="$local.mainMenuOpen" class="page-layout__main__menu">
                {{component("_main_menu")}}
            </div>
            {% endif %}
            <div class="page-layout__main__content">
                <div class="page-layout__main__content__top-bar">
                    {% if "_breadcrumb" in _config.components %}
                    {{component("_breadcrumb")}}
                    {% else %}
                    <div></div>
                    {% endif %}
                </div>
                {% block page_content %}{% endblock page_content %}
            </div>
        </div>
    </div>

    {{component("_syserror")}}
    {{component("_notice")}}
    {{component("_action_confirmation")}}

    <script src="{{ url_for('jembe.static', filename='js/jembe.js') }}" defer></script>
    <script defer>
    window.addEventListener('DOMContentLoaded', function(event){
        window.jembeClient.addXRequestHeaderGenerator(function () {
            return {'X-CSRFToken': window.jembeClient.getCookie("_csrf_token")};
        })
    })
    </script> 
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/js/datepicker-full.min.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/js/i18n.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/js/image-field.js')}}"></script>
    {% with locale_code = jembeui_get_locale_code('-') %}
    {% if locale_code != 'en' %}
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/js/datepicker-locales/{}.js'.format(locale_code))}}"></script>
    {% endif %} 
    {% if _config.enable_image_edit_support -%}
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/tui/fabric.min.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-code-snippet.min.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-color-picker.min.js')}}"></script>
    <script src="{{url_for('jembeui.static', filename='jembeui/s0/tui/tui-image-editor.min.js')}}"></script>
    {%- endif %}
    {% endwith %}
</body>
</html>