<div jmb-local="{show:false, networkError: false}"
    jmb-on:jembe-update-page-error.camel.window="
        $refs.title.innerText = '';
        $refs.content.innerHTML = '';
        $local.networkError = $event.detail.networkError;
        if (!$local.networkError){
            $refs.title.innerText = '!!! Server error: ' + $event.detail.response.status;
            $event.detail.response.text().then(
                function(content) {
                    $refs.content.innerHTML = '<iframe></iframe>';
                    $refs.content.children[0].classList.add('h-[70vh]','border-none','w-full');
                    $refs.content.children[0].contentDocument.write(content);
                }
            )
        } else {
            $refs.title.innerText = '!!! Network error';
            $refs.content.innerHTML = '<p>Application server unreachable.<br>Please check your internet connection and/or contact Application Administrator.</p>'
        }
        $local.show = true;
    "
    jmb-cloak
    jmb-ignore
    jmb-show="$local.show"
    class="fixed inset-0 z-50 bg-opacity-80 bg-grey-900">
    <div class="max-w-[80%] min-w-[280px] w-4/5 m-auto mt-[5vh]">
        <div class="flex items-center justify-between py-1 pl-4 pr-2 text-xl font-light leading-6 text-white rounded-t-sm bg-error-600">
            <div jmb-ref="title"></div>
            <button jmb-on:click="$local.show=false" type="button" title="Close" class="btn-ghost btn--danger">
                <svg  xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Close</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
            </button>
        </div>
        <div jmb-ref="content" class="p-4 rounded-b-sm bg-grey-50"></div>
    </div>
</div>