<div
    jmb-cloak
    jmb-ignore
    jmb-local="{show:false, networkError: false}"
    jmb-on:jembe-update-page-error.camel.window="
        $refs.title.innerText = '';
        $refs.content.innerHTML = '';
        $local.networkError = $event.detail.networkError;
        if (!$local.networkError){
            $refs.title.innerText = '!!! Server error: ' + $event.detail.response.status;
            $event.detail.response.text().then(
                function(content) {
                    $refs.content.innerHTML = '<iframe></iframe>';
                    $refs.content.children[0].contentDocument.write(content);
                }
            )
        } else {
            $refs.title.innerText = '!!! Network error';
            $refs.content.innerHTML = '<p>Application server unreachable.<br>Please check your internet connection and/or contact Application Administrator.</p>'
        }
        $local.show = true;
    "
    jmb-show="$local.show"
    class="modal page-system-error"
    >
    <div class="modal__dialog">
        <div class="modal__dialog__head">
            <div jmb-ref="title"></div>
            <button jmb-on:click="$local.show=false" type="button" title="Close">X</button>
        </div>
        <div jmb-ref="content" class="modal__dialog__content"></div>
    </div>
</div>