{% from "jembeui/macros/icons.html" import display_icon %}
{# input input-bordered input-error input-lg input-md input-sm input-xs select select-bordered select-error select-lg select-sm select-xs select-md textarea textarea-bordered #}
{% set field_id = "{}--{}".format(cform.exec_name.strip("/").replace("/","-").replace(".","_"), field.name) %}
{% set is_text_area_field = field.__class__.__name__ == "TextAreaField" %}

{% macro display_widget(field, field_style, field_id) %}
    {%- set jmb_on_action = false %}
    {%- if not field_style.disabled %}
        {%- set jmb_on_action %}
            {{ cform._config.form_state_name }}.{{ field.name }} = $self.value;
            {%- if "modified_fields" in cform.state %}
            if (modified_fields.indexOf('{{ field.name }}') === -1 ) { modified_fields.push('{{ field.name }}')};
            {%- endif %}
            {%- if field_style.on_change_submit and "submit" in form.cform._config.component_actions %}
            submit(); 
            {%- endif %}
            {%- if field_style.on_change_validate and "validate" in form.cform._config.component_actions %}
            validate(); 
            {%- endif %}
        {%- endset %}
    {%- endif %}
    {%- set field_attrs = {
        "id": field_id,
        "disabled": field_style.disabled,
        "placeholder": field.label.text if field_style.is_compact else false0,
        "class": " ".join([
            "{bc} {bc}-bordered".format(bc=field_style._base_class),
            "{bc}-error".format(bc=field_style._base_class) if field.errors else "",
            "{bc}-".format(bc=field_style._base_class) + field_style.size if field_style.size is not none else "",
        ]),
        "jmb-on:change{}".format(".defer" if field_style.on_change_defer else ""): jmb_on_action  if jmb_on_action  else false,
        "jmb-on:keydown.enter": "$self.blur();$self.focus();submit()" if not field_style.disabled and not is_text_area_field  and "submit" in cform._config.component_actions else false,
        "jmb-on:keydown.ctrl.enter": "$self.blur();$self.focus();submit()" if not field_style.disabled and is_text_area_field  and "submit" in cform._config.component_actions else false,

    } %}
    {{ field(**field_attrs) }}
{% endmacro %}

{%- if field_style.is_compact %}
{# field label in placeholder #}
<div class="w-full form-control">
    {{ display_widget(field, field_style, field_id)}}
    {%- if field.errors %}
    <label class="label">
        <span class="text-red-700 label-text-alt">
            {%- for error in field.errors %}{{ error }}{% endfor %}
        </span>
    </label>
    {%- endif %}
</div>
{%- else %}
{# field label on top #}
<div class="w-full form-control">
    <label class="label">
        <span class="label-text">
            {{ field.label.text }}
            {%- if not field_style.disabled and field_style.mark_if_required and field.flags.required -%}
                <span class="text-sm text-error" title="{%- trans -%}Required{%- endtrans -%}"> *</span>
            {%- endif -%}
        </span>
        {%- if field.description or ( field_style.mark_if_optional and not field.flags.required and not field_style.disabled) %}
        <span class="flex items-center gap-2 label-text-alt">
            {%- if field_style.mark_if_optional and not field.flags.required and not field_style.disabled %}<span class="text-opacity-60">{% trans %}Optional{% endtrans %}</span>{% endif %}
            {%- if field.description %}
            <div class="tooltip tooltip-left" data-tip="{{ field.description }}">
                {{ display_icon("question-mark-circle", class="w-5 h-5")}} 
            </div>
            {% endif %}
        </span>
        {%- endif %}
    </label>
    {{ display_widget(field, field_style, field_id)}}
    {%- if field.errors %}
    <label class="label">
        <span class="text-red-700 label-text-alt">
            {%- for error in field.errors %}{{ error }}{% endfor %}
        </span>
    </label>
    {%- endif %}
</div>
{%- endif %}
