{% if confirmation %}
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    {% if confirmation.title %}
    <header class="modal-card-head">
      <p class="modal-card-title">{{confirmation.title}}</p>
      <button jmb-on:click="cancel()" class="delete" aria-label="close"></button>
    </header>
    {% endif %}
    {% if confirmation.question %}
    <section class="modal-card-body">
        {{confirmation.question}}
    </section>
    {% endif %}
    <footer class="modal-card-foot">
      <button jmb-on:click="confirm()" jmb-on:ready="$self.focus()" class="button is-success">OK</button>
      <button jmb-on:click="cancel()" class="button">Cancel</button>
    </footer>
  </div>
</div>
{% endif %}