<div>
  {% if bitems|length > 1  or (bitems|length == 1 and not bitems[0].is_hidden )%}
  <nav class="px-3 my-3 breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      {% for bitem in bitems %}
        {% if not bitem.is_hidden %}
          {% if bitem.url and not loop.last %}
          <li {% if loop.last%}class="is-active"{% endif %}>
              <a href="{{bitem.url}}" {% if bitem.jrl %}jmb-on:click.prevent="{{bitem.jrl}}"{% endif %}>
                  {{bitem.title}}
              </a>
          </li>
          {% else %}
          <li><span>{{bitem.title}}</span></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>