<!DOCTYPE html>
<html lang="en" jmb-local="{navbarOpen:false}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{component("__title")}}
    {# seo tag + description #}
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s1/css/fontawesome5.min.css')}}">
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s1/css/main.css')}}">
</head>
<body class="has-navbar-fixed-top">
    {# Update indicator #}
    {{component("__update_indicator")}}

    {# Navigation #}
    <nav class="container navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-weight-medium is-size-5" href="{{url_for('index')}}">{{title}}</a>
        <a jmb-bind:class="{'is-active': $local.navbarOpen}" jmb-on:click.prevent="$local.navbarOpen = !$local.navbarOpen;" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div jmb-bind:class="{'is-active': $local.navbarOpen}" 
         jmb-on:click.prevent="$local.navbarOpen = false" 
         id="navbarBasicExample" class="navbar-menu" >
        <div class="navbar-start">

        {# Main menu #}
        {% if "__main_menu" in _config.components %}
        {% block main_menu %}
            {{component('__main_menu')}}
        {% endblock main_menu %}
        {% endif %}
        </div>

        {# System menu #}
        <div class="navbar-end">
        {% if "__system_menu" in _config.components %}
        {% block system_menu %}
            {{component('__system_menu')}}
        {% endblock system_menu %}
        {% endif %}
        </div>
    </div>
    </nav>

    {# Breadcrumb #}
    {% if "__breadcrumb" in _config.components %}
    <div class="container">
        {{component("__breadcrumb")}}
    </div>
    {% endif %}

    <section class="section">
        <div class="container" style="min-height:62vh;">
            {% block content %}{% endblock content %}
        </div>
    </section>

    {# Footer #}
    <div class="footer">
        {% block footer -%}
        <div class="content has-text-centered is-size-7 has-text-weight-light">
            {%- block footer_text %}
            Build with <a href="https://jembe.io" target="blank">jembe.io</a>
            {% endblock footer_text -%}
        </div>
        {%- endblock footer %}
    </div>
    {{component("__notifications")}}
    {{component("__syserror")}}
    {{component("__action_confirmation")}}
    <script src="{{ url_for('jembe.static', filename='js/jembe.js') }}" defer></script>
    <script defer>
    window.addEventListener('DOMContentLoaded', function(event){
        window.jembeClient.addXRequestHeaderGenerator(function () {
            return {'X-CSRFToken': window.jembeClient.getCookie("_csrf_token")};
        })
    })
    </script> 
</body>
</html>