<div jmb-local="{show:false, networkError: false}"
    jmb-on:jembe-update-page-error.camel.window="
        $refs.title.innerText = '';
        $refs.content.innerHTML = '';
        $local.networkError = $event.detail.networkError;
        if (!$local.networkError){
            $refs.title.innerText = '!!! Server error: ' + $event.detail.response.status;
            $event.detail.response.text().then(
                function(content) {
                    $refs.content.innerHTML = '<iframe style=&quot;width:100%;height:70vh;&quot;></iframe>';
                    $refs.content.children[0].contentDocument.write(content);
                }
            )
        } else {
            $refs.title.innerText = '!!! Network error';
            $refs.content.innerHTML = '<p>Application server unreachable.<br>Please check your internet connection and/or contact Application Administrator.</p>'
        }
        $local.show = true;
    "
    jmb-bind:class="{'is-active':$local.show}"
    jmb-cloak
    jmb-ignore
    class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-danger has-text-danger-light">
      <p jmb-ref="title" class="modal-card-title has-text-danger-light"></p>
      <button jmb-on:click="$local.show=false" class="delete" aria-label="close"></button>
    </header>
    <section jmb-ref="content" class="modal-card-body">
    </section>
  </div>
</div>