<div class="modal">
    <div class="modal__dialog modal__dialog--wide">
        <div class="modal__dialog__head">
            <div jmb-ref="title">{{title}}</div>
            <button jmb-on:click="{%- if  component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" type="button" title="Close">X</button>
        </div>
        <div class="modal__dialog__content">
            {{form.as_html()}}
        </div>
        <div class="modal__dialog__footer">
            {{menu.as_html('buttons_modal')}}
        </div>
    </div>
</div>