<div class="modal">
    <div class="modal__dialog">
        <div class="modal__dialog__head">
            <div jmb-ref="title">
                {%- block title -%}
                {{title}}
                {%- endblock title -%}
            </div>
            <button jmb-on:click="{%- if component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" type="button" title="Close">X</button>
        </div>
        <div class="modal__dialog__content">
            {% include "jembeui/s0/components/list/list_records.html" %}
        </div>
    </div>
</div>