<div jmb-local="{bNote:null,bNoteId:null,sNote:null,sNoteId:null}"
    jmb-on:ready="
      bNote = Object.entries(notifications).find(function(e){
        return e[1] !== {} && ['warn','error'].includes(e[1].level)
      });
      $local.bNoteId = null; $local.bNote = null;
      if (bNote !== undefined) {
        $local.bNoteId = bNote[0]; $local.bNote = bNote[1];
        $refs.banner._mdcBanner.open();
      }
      sNote = Object.entries(notifications).find(function(e){
        return e[1] !== {} && ['info','success'].includes(e[1].level)
      });
      $local.sNoteId = null; $local.sNote = null;
      if (sNote !== undefined) {
        $local.sNoteId = sNote[0]; $local.sNote = sNote[1];
        $refs.snackbar._mdcSnackbar.open();
      }
    "
    >
<div jmb-ref="banner" class="mdc-banner" role="banner"
    jmb-on:-m-d-c-banner:closed.camel.defer="
      notifications[$local.bNoteId] = {}
      bNote = Object.entries(notifications).find(function(e){
        return e[1] !== {} && ['warn','error'].includes(e[1].level)
      });

      $local.bNoteId = null; $local.bNote = null;
      if (bNote !== undefined) {
        $local.bNoteId = bNote[0]; $local.bNote = bNote[1];
        $refs.banner._mdcBanner.open()
      }
    "
>
  <div class="mdc-banner__content"
       role="status"
       aria-live="assertive">
    <div class="mdc-banner__graphic-text-wrapper">
      {# <div class="mdc-banner__graphic" role="img" alt=""><i class="material-icons mdc-banner__icon">{% if note.level == "warn" %}warning_amber{% else %}error_outline{% endif %}</i></div> #}
      <div jmb-text="$local.bNote !== null ? $local.bNote.message: ''" class="mdc-banner__text">
      </div>
    </div>
    <div class="mdc-banner__actions">
      <button type="button" class="mdc-button mdc-banner__primary-action">
        <div class="mdc-button__ripple"></div>
        <div class="mdc-button__label">Dismiss</div>
      </button>
    </div>
  </div>
</div>
<div jmb-ref="snackbar" class="mdc-snackbar mdc-snackbar--leading"
    jmb-on:-m-d-c-snackbar:closed.camel.defer="
      notifications[$local.sNoteId] = {};

      sNote = Object.entries(notifications).find(function(e){
        return e[1] !== {} && ['info','success'].includes(e[1].level)
      });

      $local.sNoteId = null; $local.sNote = null;
      if (sNote !== undefined) {
        $local.sNoteId = sNote[0]; $local.sNote = sNote[1];
        $refs.snackbar._mdcSnackbar.open()
      }
      ">
    {# jmb-on:ready.delay-{{noteId}}.2500ms.defer="$self._mdcSnackbar.close();"> #}
  <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
    <div jmb-text="$local.sNote !== null ? $local.sNote.message: ''" class="mdc-snackbar__label" aria-atomic="false">
    </div>
  </div>
</div>
</div>