{# does not extend page_base in order to:
    - keep block naming consistent
    - be able to fully integrate _notifications, _update_indicator etc components in 
      new page layout
 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{component("_title")}}
    {# seo tag + description #}
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{url_for('jembeui.static', filename='jembeui/s2/css/main.css')}}">
</head>
<body class="mdc-typography">
  <aside jmb-ref="mdcDrawer" class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">{{title}}</h3>
        {# <h6 class="mdc-drawer__subtitle">email@material.io</h6> #}
    </div>
    <div jmb-on:click="listItem = $event.target.closest('.mdc-list-item');if (listItem!==undefined && listItem!==null) {$refs.mdcDrawer._mdcDrawer.open = false}"
      class="mdc-drawer__content">
      {{component("_main_menu")}}
    </div>
  </aside>

  <div class="mdc-drawer-scrim"></div>
  <header class="mdc-top-app-bar mdc-top-app-bar--dense mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button jmb-on:click="drawer = $refs.mdcDrawer._mdcDrawer; if(drawer!==undefined){drawer.open = !drawer.open}" class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button lg:hidden" aria-label="Open navigation menu">menu</button>
          <span class="mdc-top-app-bar__title">{{title}}</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
          <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">favorite</button>
          <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button>
          <div>
            <button jmb-on:click.prevent.stop="menu=$refs.menu._mdcMenu; if(menu!==undefined) {menu.open = true}"
                    class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert</button>
            <div class="mdc-menu-surface--anchor">
              <div jmb-ref="menu" class="mdc-menu mdc-menu-surface">
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                  <li class="mdc-list-item" role="menuitem">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">A Menu Item</span>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">Another Menu Item</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </section>
    </div>
    {{component("_update_indicator")}}
  </header>
  <div class="mdc-top-app-bar--dense-fixed-adjust">
  {{component("_notifications")}}

  {% block page_content %}{% endblock page_content %}

  {{component("_syserror")}}
  {{component("_action_confirmation")}}
  </div>



    <script src="{{ url_for('jembeui.static', filename='jembeui/s2/js/main.js') }}" defer></script>
    <script src="{{ url_for('jembe.static', filename='js/jembe.js') }}" defer></script>
    <script defer>
    window.addEventListener('DOMContentLoaded', function(event){
        window.jembeClient.addXRequestHeaderGenerator(function () {
            return {'X-CSRFToken': window.jembeClient.getCookie("_csrf_token")};
        })
    })
    </script> 
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</body>
</html>