<div class="modal">
    <div>
        <div class="modal__dialog__head">
            <div>{{title}}</div>
            {%- if  component("cancel()").is_accessible %}
            <button jmb-on:click="cancel()" type="button" title="Close">X</button>
            {% else %}
            <button jmb-on:click="$jmb.emit('cancel')" type="button" title="Close">X</button>
            {% endif -%}
        </div>
        <div class="modal__dialog__content">
            {%- block content %}
                Generic 'modal' variant of component template for <strong>{{exec_name}}</strong>
            {% endblock content -%}
        </div>
    </div>
</div>