<div class="modal">
    <div class="modal__dialog">
        <div class="modal__dialog__head">
            <div>{{title}}</div>
            <button jmb-on:click="{%- if component('cancel()').is_accessible %}cancel(){% else %}$jmb.emit('cancel'){% endif -%}" type="button" title="Close">X</button>
        </div>
        <div class="modal__dialog__content">
            {%- block content %}
                Generic 'modal' variant of component template for <strong>{{exec_name}}</strong>
            {% endblock content -%}
        </div>
    </div>
</div>