<div>
    {% if menu %}
    <div class="list-records__menu">
    {{menu.as_html('buttons')}} 
    </div>
    {% endif %}
    <div class="list-records__toolbar">
        <div class="list-records__toolbar__clear-filters">
            <button type="button" class="button button--ghost button--toolbar" jmb-on:click.prevent="search=''; choice_filters=null" title="Clear all filters">
                <!-- This SVG Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. that You can obtain one at http://mozilla.org/MPL/2.0/. -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M6.5 12a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 0 .5.5zm2 0a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 0 .5.5zm2 0a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 0 .5.5z"></path><path fill="context-fill" d="M14 2h-3.05a2.5 2.5 0 0 0-4.9 0H3a1 1 0 0 0 0 2v9a3 3 0 0 0 3 3h5a3 3 0 0 0 3-3V4a1 1 0 0 0 0-2zM8.5 1a1.489 1.489 0 0 1 1.391 1H7.109A1.489 1.489 0 0 1 8.5 1zM12 13a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4h7z"></path></svg>            
            </button>
        </div>
        <div class="list-records__toolbar__search">
            <input jmb-on:input="page=0;search=$self.value;" value="{{search}}" type="text" placeholder="Search..." class="input input--toolbar">
        </div>
        <div class="list-records__toolbar__choice-filters">
            {% for filter_name, choice_filter in choice_filters_config.items() if not choice_filter.is_grouped  %}
            {% for choice in choice_filter.choices  %}
            <label class="button button--micro button--switch button--switch--toolbar
                {% if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
                button--switch--on
                {% endif %}">
                <input type="checkbox" jmb-on:change="
                    if($self.checked) {
                        jui_apply_choice_filter('{{filter_name}}','{{choice.value_str}}');
                    }else{
                        jui_remove_choice_filter('{{filter_name}}','{{choice.value_str}}')
                    }"  
                    value="{{choice.value_str}}"
                    {% if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
                    checked
                    {% endif %}
                    >
                {{choice.title}}
            </label> 
            {% endfor %} 
            {% endfor %}
            {% if choice_filters_config.values()|selectattr('is_grouped')|list|length > 0 %}
            <div class="list-records__toolbar__choice-filters-other" jmb-scope="{opened:false}" jmb-on:click.away="$scope().opened = false; ">
                {% set ns = namespace(other_selected = false) %}
                <div class="list-records__toolbar__choice-filters-other__dropdown" jmb-show="$scope().opened" jmb-cloak>
                {% for filter_name, choice_filter in choice_filters_config.items() if choice_filter.is_grouped  %}
                {% for choice in choice_filter.choices  %}
                <label class="button button--micro button--switch button--switch--toolbar
                    {% if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
                    button--switch--on
                    {% set ns.other_selected = true %}
                    {% endif %}">
                    <input type="checkbox" jmb-on:change="
                        if($self.checked) {
                            jui_apply_choice_filter('{{filter_name}}','{{choice.value_str}}');
                        }else{
                            jui_remove_choice_filter('{{filter_name}}','{{choice.value_str}}')
                        };"
                        value="{{choice.value_str}}"
                        {% if choice_filters and filter_name in choice_filters and choice.value_str in choice_filters[filter_name] %}
                        checked
                        {% endif %}
                        >
                    {{choice.title}}
                </label> 
                {% endfor %} 
                {% endfor %}
                </div>
                <button type="button" class="list-records__toolbar__choice-filters-other__button button button--micro button--select--toolbar {%if ns.other_selected%}button--select--toolbar--on{% endif %}" jmb-on:click.prevent="$scope().opened = !$scope().opened; " title="Other filters">
                    Filters
                    <!-- This SVG Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. that You can obtain one at http://mozilla.org/MPL/2.0/. -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M8 12a1 1 0 0 1-.707-.293l-5-5a1 1 0 0 1 1.414-1.414L8 9.586l4.293-4.293a1 1 0 0 1 1.414 1.414l-5 5A1 1 0 0 1 8 12z"></path></svg>
                </button>
            </div>
            {% endif %}
        </div>
        <nav class="list-records__toolbar__pagination">
            <button type="button" class="button button--ghost button--toolbar" jmb-on:click="page = page - 1" {% if page == 0 %} disabled {% endif %}>
                <!-- This SVG Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. that You can obtain one at http://mozilla.org/MPL/2.0/. -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M6.414 8l4.293-4.293a1 1 0 0 0-1.414-1.414l-5 5a1 1 0 0 0 0 1.414l5 5a1 1 0 0 0 1.414-1.414z"></path></svg>
            </button>
            <div class="list-records__toolbar__pagination__text">
                {{page + 1 if total_pages > 0 else 0}} / {{total_pages}} (rows: {{total_records}})
            </div>
            <button type="button" class="button button--ghost button--toolbar" jmb-on:click="page = page + 1" {% if page == total_pages - 1 or total_pages == 0 %} disabled {% endif %}>
                <!-- This SVG Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. that You can obtain one at http://mozilla.org/MPL/2.0/. -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M6 14a1 1 0 0 1-.707-1.707L9.586 8 5.293 3.707a1 1 0 0 1 1.414-1.414l5 5a1 1 0 0 1 0 1.414l-5 5A1 1 0 0 1 6 14z"></path></svg>
            </button>
        </nav>
    </div>
    <table class="table">
        <thead class="table__head">
            <tr>
                {% for field_name,field_title in _config.fields.items() %}
                {% if field_name in _config.field_order_by %}
                    {% if order_by == field_name %}
                    <th class="table__head__th--selected">
                        <a href="" class="table__head__order-link" jmb-on:click.prevent="order_by='-{{field_name}}'; page=0"> {{field_title|capitalize}}<span>&#9650;</span></a>
                    </th>
                    {% elif order_by == "-" + field_name %}
                    <th class="table__head__th--selected">
                        <a href="" class="table__head__order-link" jmb-on:click.prevent="order_by=null; page=0">{{field_title|capitalize}}<span>&#9660;</span></a>
                    </th>
                    {% else %}
                    <th>
                        <a href="" class="table__head__order-link" jmb-on:click.prevent="order_by='{{field_name}}'; page=0">{{field_title|capitalize}}</a>
                    </th>
                    {% endif %}
                {% else %}
                <th>
                    {{field_title|capitalize}}
                </th>
                {% endif %}
                {% endfor %}
                {% if _config.record_menu %}
                <th><span class="table__head__order-link">Actions</span></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
    {% for record in records  %}
        <tr class="table__body__row {{loop.cycle('table__body__row--even','table__body__row--odd')}}">
            {% for field_name in _config.fields.keys() %}
            <td>
                {{field_values[field_name](record, field_name)|default("", True)}}
            </td>
            {% endfor %}
            {% if _config.record_menu %}
            <td>
            {{get_record_menu(record).as_html('links')}}
            </td> 
            {% endif %}
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>