{% macro display_menu(menu, level=0) -%}
    {% if menu.is_accessible %}
        {% if level > 0 %}
        <li><strong>{{menu.title}}:</strong>
        {% endif %}
        <ul>
        {% for mi in menu.items  %}
            {% if is_menu(mi) %}
                {{display_menu(mi, level+1)}}
            {% else %}
                {{display_link(mi, level)}}
            {% endif %}
        {% endfor %}
        </ul>
        {% if level > 0 %}
        </li>
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro display_link(link, level) -%}
    {% if link.is_accessible %}
    <li>
        <a href="{{link.url}}" 
           {% if link.jrl %}jmb-on:click.prevent="{{link.jrl}}"{% endif %}>
           {{link.title}}
        </a>
    </li>
    {% endif %}
{%- endmacro %}

{{display_menu(menu)}}