{% macro display_menu(menu, level=0, menuIds=[]) -%}
    {% if menu.is_accessible %}
        {% if level > 0 %}
        <div class="">
            <a href="#" 
                jmb-on:click.prevent="
                    mid ='{{menu.id}}'; 
                    if ($local.opened.includes(mid)) {
                        $local.opened = $local.opened.filter(function(id){return id !== mid});
                    } else {
                        {# $local.opened = {{(menuIds + [menu.id])|tojson|forceescape}}; #}
                        Array.prototype.push.apply($local.opened, {{(menuIds +[menu.id])|tojson|forceescape}}.filter(function(e){return !$local.opened.includes(e)}))
                    }" 
                class="main-menu__sub-menu__title"
                jmb-bind:class="{'main-menu__sub-menu__title--active': $local.active.includes('{{menu.id}}')}">
                {{menu.title}}
            </a>
        {% endif %}
        <div class="
        {%- if level == 0 -%}
            main-menu
        {%- else -%}
            main-menu__sub-menu main-menu__sub-menu--{{level}} 
        {%- endif %}"
        {%- if level > 0 -%}
            jmb-bind:class="{
                'main-menu__sub-menu--open': $local.opened.includes('{{menu.id}}') || $local.active.includes('{{menu.id}}')
            }"
        {%- endif -%}
        >
        {% for mi in menu.items  %}
            {% if mi.is_menu %}
                {{display_menu(mi, level + 1, menuIds + [menu.id])}}
            {% else %}
                {{display_link(mi, level, menuIds + [menu.id])}}
            {% endif %}
        {% endfor %}
        </div>
        {% if level > 0 %}
        </div>
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro display_link(link, level=0, menuIds=[]) -%}
    {% if link.is_accessible %}
    <div class="main-menu__item"
         jmb-bind:class="{
             'main-menu__item--active': 
                (   
                    {{link.active_for_exec_names|tojson|forceescape}}.some(function(en){return $local.componentsOnPage.includes(en)})
                    || {{link.active_for_pathnames|tojson|forceescape}}.some(function(pn){return window.location.pathname === pn})
                ) 
                {# Add menuids to active menues if not already exist #}
                && (
                    !{{menuIds|tojson|forceescape}}.every(function(mid){return $local.active.includes(mid)}) ?  
                        Array.prototype.push.apply($local.active, {{menuIds|tojson|forceescape}}.filter(function(e){return !$local.active.includes(e)})) !== undefined : true
                )
        }">
        <a href="{{link.url}}" 
           {% if link.jrl %}jmb-on:click.prevent="{{link.jrl}}"{% endif %}>
           {{link.title}}
        </a>
    </div>
    {% endif %}
{%- endmacro %}

<div jmb-local="{opened:[], componentsOnPage:[], active:[]}"
     jmb-on:jembe-update-page.camel.window="$local.componentsOnPage = $jmb.componentsOnPage();$local.active = [];">
{{display_menu(menu)}}
</div>