{# {% macro display_menu(menu, level=0) -%}
    {% if menu.is_accessible %}
        {% if level > 0 %}
        <button type="button" class="button button--short {{menu.styling.css}}" jmb-on:click.prevent="">
           {{menu.title|default("", true)}}

        </button>
        {% endif %}
        {% for mi in menu.items  %}
            {% if mi.is_menu %}
                {{display_menu(mi, level+1)}}
            {% else %}
                {{display_link(mi, level)}}
            {% endif %}
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% macro display_link(link, level) -%}
    {% if link.is_accessible %}
        <button type="button" class="button button--short {{link.styling.css}}" jmb-on:click.prevent="{{link.jrl}}">
           {{link.title}}
        </button>
    {% endif %}
{%- endmacro %} #}
{% macro display_menu_items(menu, level) -%}
    {% for mi in menu.items  %}
        {% if mi.is_menu %}
            {{display_menu(mi, level+1)}}
        {% else %}
            {{display_link(mi, level)}}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro display_menu(menu, level=0) -%}
    {% if menu.is_accessible %}
        {% if level == 0 %}
            <div class="buttons-menu"
                jmb-scope="{opened:null, timeout:null}">
                {{display_menu_items(menu, level)}}
            </div>
        {% elif level == 1 %}
            <div class="buttons-menu__dropdown-container"
                jmb-on:click.away="if ($scope().opened === '{{menu.id}}') {$scope().opened=null}">
                <button class="button {% if menu.title %}button--short{% else %}button--ghost{% endif %} {{menu.styling.button_css|default('', true)}}"
                        jmb-on:click.prevent="if ($scope().opened === '{{menu.id}}'){$scope().opened = null}else{$scope().opened = '{{menu.id}}'}">
                        {% if menu.title %}
                        {{menu.title}}
                        {% endif %}
                        {% if menu.icon_html %}
                        {{menu.icon_html}}
                        {% else %}
                        <!-- This SVG source code is subject to the terms of the Mozilla Public
                        - License, v. 2.0. obtainable at http://mozilla.org/MPL/2.0/. -->
                        <svg class="buttons-menu__link__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="context-fill" d="M2 6a2 2 0 1 0 2 2 2 2 0 0 0-2-2zm6 0a2 2 0 1 0 2 2 2 2 0 0 0-2-2zm6 0a2 2 0 1 0 2 2 2 2 0 0 0-2-2z"></path></svg>
                        {% endif %}
                </button>
                <div class="buttons-menu__dropdown" 
                     jmb-bind:class="{'buttons-menu__dropdown--open': $scope().opened == '{{menu.id}}'}" jmb-cloak>
                    {{display_menu_items(menu, level)}}
                </div>
            </div>
        {% else %}
            <div class="buttons-menu__dropdown__submenu-title {{menu.styling.css|default('', true)}}">
                {{menu.title}}
            </div>
            <div class="buttons-menu__dropdown__submenu">
                {{display_menu_items(menu, level)}}
            </div>
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro display_link(link, level) -%}
    {% if link.is_accessible %}
        {% if level == 0 %}
        <button type="button" class="button button--short {{link.styling.css|default('', true)}}" jmb-on:click.prevent="{{link.jrl}}">
                {{link.title}}
        </button>
        {% else %}
        <div class="buttons-menu__dropdown__link {{link.styling.css|default('', true)}}" >
            <a href="{{link.url}}" jmb-on:click.prevent="{{link.jrl}}">
                {{link.title}}
            </a>
        </div>
        {% endif %}
    {% endif %}
{%- endmacro %}

{{display_menu(menu)}}