{% macro display_menu_items(menu, level, topMenuId=none) -%}
    {% for mi in menu.items  %}
        {% if mi.is_menu %}
            {{display_menu(mi, level+1, topMenuId)}}
        {% else %}
            {{display_link(mi, level, topMenuId)}}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro display_menu(menu, level=0, topMenuId=none) -%}
    {% if menu.is_accessible %}
        {% if level == 0 %}
            <div class="default-menu"
                jmb-scope="{opened:null, timeout:null}">
                {{display_menu_items(menu, level)}}
            </div>
        {% elif level == 1 %}
            <div class="default-menu__dropdown-container"
                {# jmb-on:mouseleave="if ($scope().opened === '{{menu.id}}') {$scope().timeout=setTimeout(function(){$scope().opened=null}, 100)}"  #}
                jmb-on:click.away="if ($scope().opened === '{{menu.id}}') {$scope().opened=null}">
                <div class="default-menu__link">
                     {# jmb-on:click="clearTimeout($scope().timeout); $scope().opened = '{{menu.id}}'"> #}
                    <a href="#" jmb-on:click.prevent="$scope().opened = '{{menu.id}}'">
                        {{menu.title}}
                    </a>
                </div>
                <div class="default-menu__dropdown" 
                     jmb-bind:class="{'default-menu__dropdown--open': $scope().opened == '{{menu.id}}'}">
                     {# jmb-on:mouseover="clearTimeout($scope().timeout); $scope().opened = '{{menu.id}}'"> #}
                    {{display_menu_items(menu, level, menu.id)}}
                </div>
            </div>
        {% else %}
            <div class="default-menu__dropdown__submenu-title">
                {{menu.title}}
            </div>
            <div class="default-menu__dropdown__submenu">
                {{display_menu_items(menu, level, topMenuId)}}
            </div>
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro display_link(link, level, topMenuId=none) -%}
    {% if link.is_accessible %}
        <div class="default-menu__link {% if level > 0 %}default-menu__link--indropdown{% endif %}">
            <a href="{{link.url}}"{% if link.jrl %}jmb-on:click.prevent="{{link.jrl}}"{% endif %}>
                {{link.title}}
            </a>
        </div>
    {% endif %}
{%- endmacro %}

{{display_menu(menu)}}