<div class="p-8">
    <div class="flex mb-8">
        <a href="{{ '{{' }} component('/main').url {{ '}}' }}" jmb-on:click.prevent="cancel()" class="block m-auto">
            {{ '{%' }} include "includes/logo.html" {{ '%}' }}
        </a>
    </div>
    <div class="max-w-sm m-auto border shadow-md card bg-base-100">
        <div class="gap-8 card-body">
            <h2 class="card-title">{{ '{{' }} title {{ '}}' }}</h2>
            {{ '{{' }} form() {{ '}}' }}
            <div>
                <div class="card-actions">
                    <button class="btn btn-primary btn-block" jmb-on:click="submit()">{{ '{%' }} trans {{ '%}' }}Send recovery link{{ '{%' }} endtrans {{ '%}' }}</button>
                </div>
                <div class="divider"></div>
                <div class="flex items-center justify-center gap-2 text-sm">
                    {{ '{%' }}- if  component("/main/login").is_accessible {{ '%}' }}
                    <a class="link link-primary link-hover" href="{{ '{{' }} component().url {{ '}}' }}" jmb-on:click.prevent="{{ '{{' }} component().jrl {{ '}}' }}">{{ '{%' }} trans {{ '%}' }}Return to log in{{ '{%' }} endtrans {{ '%}' }}</a>
                    {{ '{%' }} endif {{ '%}' }}
                </div>
            </div>
        </div>
    </div>
</div>