<div class="p-8">
    <div class="flex mb-8">
        <a href="{{ '{{' }} component('/main').url {{ '}}' }}" jmb-on:click.prevent="cancel()" class="block m-auto">
            {{ '{%' }} include "includes/logo.html" {{ '%}' }}
        </a>
    </div>
    <div class="max-w-sm m-auto border shadow-md card bg-base-100">
        <div class="gap-8 card-body">
            <h2 class="card-title">Choose a new password</h2>
            {{ '{{' }} form() {{ '}}' }}
            <div class="card-actions">
                <button class="btn btn-primary btn-block" jmb-on:click="submit()">Continue</button>
            </div>
        </div>
    </div>
</div>